[2019-02-19 13:21] mgoku opened #1 "Failed to load plugin Psalm\LaravelPlugin\Plugin"
Hi, thanks for this psalm plugin.

I tried this plugin, but failed with the following error

[code]

[2019-02-19 20:40] #1 closed

[2019-02-19 20:41] muglug commented on #1
Sorry about that - just added that dependency. Mind trying again?

[2019-02-19 22:53] mgoku commented on #1
Thanks for your quick response.

I've tried it again. Still got the same issue but with different message.

[code]

[2019-02-20 00:27] muglug commented on #1
Mind trying once more?

[2019-02-20 01:05] mgoku commented on #1
I've been waiting for this plugin from since I know about Psalm. I'll gladly help to try and test it until it is working.

Got another error, this time, it is predis

[code]

[2019-02-20 07:21] muglug opened #2 "Support Illuminate\Contracts\Foundation\Application array access"
Even though it doesn't extend `ArrayAccess`.

`Illuminate\Container\Container::make` is the underlying method called - there should be some sort of shortcut that allows Psalm to invoke that method and get the return type.

[2019-02-20 07:22] muglug opened #3 "Template Eloquent ORM methods where possible"
cc @weirdan in case this interest you at all

[2019-02-20 07:44] weirdan commented on #3
Maybe later. But should I start using Laravel I'll certainly look into this.

[2019-02-20 14:10] muglug commented on #1
@mgoku that should now work, hopefully!

[2019-02-20 22:45] mgoku commented on #1
Yup, it is work.

Thanks a lot.

[2019-03-04 03:20] #2 closed

[2019-03-07 10:33] drasill commented on #1
Hi,

I've got another error : `Class 'Psalm\LaravelPlugin\FakeFilesystem' not found`.

By the way, why is there so many dependencies (redis, s3, ...) ?

[2019-03-07 20:03] muglug commented on #1
@drasill can you reproduce in a public repo so I can investigate?

I'll remove them for the next release - it was due to a misunderstanding of how the IDE Helper handled errors

[2019-03-08 22:59] deleugpn opened #7 "How to Supress PossiblyInvalidArgument for Request Objects?"
Laravel has Form Request classes that can look like the following:

[code]

The `input()` method has a return signature declared as `* @return string|array|null`. For that reason, Psalm end up giving `PossiblyInvalidArgument [...]  possibly different type array<array-key, mixed>|string|null provided`.

I tried the following:

[code]

but that configuration leads to

[code]

What can I do to suppre

[2019-03-11 05:02] muglug commented on #7
You'll want to use `<file name="**/*Request.php" />` or `<file name="**/**/*Request.php" />` as appropriate given the nesting of those files in your file system.

[2019-03-11 05:02] muglug commented on #7
But really the plugin should be able to interpret the rules in a given class.

[2019-03-11 09:18] deleugpn commented on #7
That could get tricky as Laravel supports custom rules and require_if / require_with, etc. Maybe limit to support only the basic rules might be a sane option.

[2019-03-19 14:06] wgriffioen opened #8 "AppInterfaceProvider not compatible with MethodReturnTypeProviderInterface"
After installing psalm, the Laravel plug-in and enabling the plug-in, I get the following error message:

[code]

After I've altered the method to be compatible with the interface, I've been able to run Psalm successfully.

[2019-03-19 15:51] muglug commented on #8
Thanks, sorry - I've bumped the required Psalm version too

[2019-03-19 15:51] #8 closed

[2019-06-29 02:05] hackel opened #10 "Handling of variadic functions"
Laravel makes use of the variadic function pattern quite a bit.  (func_get_args is used 110 times in the Framework code.)  Even a Laravel skeleton project starts out with this error:

    ERROR: TooManyArguments - app/Http/Controllers/Auth/VerificationController.php:34:44 - Too many arguments for method Illuminate\Routing\ControllerMiddlewareOptions::only - expecting 1 but saw 2
        $this->mid

[2019-10-02 12:26] MaartenStaa opened #13 "Version incompatibility with Laravel 6.0"
Hi,

This package depends on `orchestra/testbench:^3.5`, but none of the releases with that constraint are compatible with Laravel 6.

It looks like `orchestra/testbench` needs to be updated to `^4.0`.

[2019-10-11 08:33] NRPaul opened #14 "Undefined property: Psalm\Type\Atomic\TNonEmptyList::$type_params"
Hi, I'm trying to use this plugin in conjunction with Psalm on Laravel v5.8.19 but after following the instructions I receive the following error when running Psalm:

[code]

[2019-10-11 12:53] muglug commented on #14
Hey! Sorry about this - please update Psalm, where this is fixed in the latest version (`composer update vimeo/psalm`)

[2019-10-11 12:53] #14 closed

[2019-11-10 13:25] muglug commented on #13
This should be fixed

[2019-11-10 13:25] #13 closed

[2019-11-29 09:57] unlikenesses opened #17 "Incompatible with Psalm 3.7?"
I have Psalm 3.7 installed. When I run

`composer require --dev psalm/plugin-laravel`

Composer tells me:

[2019-11-29 14:22] muglug commented on #17
Sorry, I've just pushed a new release that is compatible

[2019-11-29 14:22] #17 closed

[2019-11-29 19:26] andruu opened #19 "Publish 1.0 on Packagist"
Seems like the latest version on packagist is 0.7. Can we get this updated?

[2019-11-29 20:03] muglug commented on #19
Sorry, version constraint was messed up.

[2019-11-29 20:03] #19 closed

[2019-11-29 20:05] andruu commented on #19
Thanks

[2020-02-06 14:35] robguy21 opened #21 "Interfaces for Models not being recognized"
Problem:
I am implementing an interface but psalm is not recognizing that it is an instance of that interface.

Example:

[code]

So that was pretty weird,

then I looked into `vendor/psalm/plugin-laravel/src/cache/models.php`
<details>
<summary>and saw the following entry:</summary>

[code]
</details>

so I changed the following line:

[code]

to

[code]

So I think that when we generate the stub

[2020-02-06 16:23] muglug commented on #21
Yes, please set up a demo repo! I don’t use Laravel, so rely purely on other people’s examples.

[2020-02-06 17:25] robguy21 commented on #21
@muglug here's a working demo-
https://github.com/robguy21/laravel-psalm-issue-21

readme include all necessary copy/pastes 😃

[2020-02-12 10:01] caugner opened #22 "ERROR: InvalidStaticInvocation - RouteServiceProvider - Method Router::__construct is not static, but is called statically"
I'm getting the following unexpected error on the `RouteServiceProvider` that comes with Laravel and hasn't been modified by me:

[code]

Unfortunately I cannot suppress it using `@psalm-suppress InvalidStaticInvocation` on the [`RouteServiceProvider`](https://github.com/laravel/laravel/blob/c4a7a7bc9cdccd00d6fdda8846d1660a0608d7ef/app/Providers/RouteServiceProvider.php) class either.

<details>
<

[2020-03-01 19:29] vladyslavstartsev opened #23 "Add stubs for Collection (template/generics)"
Since Laravel collections are quite popular and I'm not sure that it will be typed (I mean template annotations in Laravel code; see this https://github.com/laravel/framework/pull/31486#issuecomment-586609823), I would like to suggest adding stubs for Collection.

[2020-03-01 19:44] muglug commented on #23
Could you?

[2020-03-01 19:52] vladyslavstartsev commented on #23
probably yes, but not promising

[2020-03-01 20:01] muglug commented on #23
Also amused by @voku’s ill-fated attempt to impose any sort of external constraints on the code in Laravel core.

`laravel/framework` is an untamed horse galloping across the Great Plains, ya know... it’s this magnificent beast that knows no bondage, and you want to put a saddle on it? That’s just not right, man. Real PHP artisans would understand.

[2020-03-04 03:45] leighman opened #24 "Class 'Illuminate\Support\Facades\Date' not found"
vimeo/psalm: 3.9.3
psalm/plugin-laravel: 1.1.0
laravel/framework: 5.6.39

 `Illuminate\Support\Facades\Date` seems to have only been introduced in laravel 6

[2020-03-12 15:53] shufo commented on #22
@caugner
same here.
To workaround this, I did set baseline.

[code]

[2020-03-12 20:28] benjivm opened #26 "Getting UndefinedMagicMethod on query scopes"
Model scope:
[code]

Implementation:
[code]

Psalm's result:
[code]

[2020-03-18 14:16] caugner commented on #22
Thanks, looks like this is actually not a plugin problem, also occurs in a fresh Laravel site without this plugin.

[2020-03-18 14:16] #22 closed

[2020-04-08 19:13] caugner opened #30 "Laravel 7: Failed to load plugin Psalm\LaravelPlugin\Plugin"
I'm getting the following error after having upgraded to Laravel 7:

[code]

[2020-04-08 20:43] pristinesource commented on #24
This is an issue in laravel-ide-helper.  I have opened an issue ticket there for it.
https://github.com/barryvdh/laravel-ide-helper/issues/911

[2020-04-11 22:36] mr-feek commented on #23
@vladyslavstartsev @muglug I took a shot at this #32

[2020-04-11 22:46] mr-feek commented on #24
I noticed this also @pristinesource . I think we might want to ignore those exceptions...

[2020-04-12 19:47] #23 closed

[2020-04-12 21:56] mr-feek opened #37 "[testing] [enhancement] Better test matrix"
We should have tests run on various versions of our dependencies.

Ie we should be testing  on laravel 5.5, laravel 6, and laravel 7

[2020-04-13 00:56] mr-feek opened #38 "[enhancement] Template the container"
we need to add support for the likes of

- `app()` and  `resolve()` global helpers to return instances of `Application` with no args, or else proxy  the method call to `Container::make`
- `Container::make` needs support to take a classname as first parameter, and returns an instance of that classname

[2020-04-14 04:01] #38 closed

[2020-04-14 20:28] mr-feek opened #43 "Phpstorm complains about multiple class definitions because of ide-helper"
Since we are generating ide-helper files, phpstorm complains about multiple class definitions.

Perhaps we should consider moving ide-helper to a suggested peer dependency, as I assume a lot of laravel developers will already have it installed and the files generated. Then the developer can configure the path to their phpstorm stubs file if they would like.

![image](https://user-images.githubuser

[2020-04-15 00:37] karllhughes commented on #26
I'm running into the same issue. Any way to fix or work around it?

[2020-04-18 07:56] mr-feek commented on #24
This should be fixed now :)

[2020-04-18 21:56] muglug commented on #43
Should be fixed now

[2020-04-18 21:56] #43 closed

[2020-04-19 14:19] bagaskarawg commented on #30
I am also experiencing this kind of issue, I was writing a [custom Casts](https://laravel.com/docs/7.x/eloquent-mutators#custom-casts) classes in Laravel and I've got the following exception being thrown:

[code]

The `Money` class here is the custom Casts that I've created inside the custom `app\Casts` directory.

[2020-04-20 00:15] mr-feek commented on #10
I would vote that we close this issue, and prefer to open up individual issues for each  variadic function that has problems. It will be much easier to track progress that way!

[2020-04-20 00:18] mr-feek commented on #30
hey @bagaskarawg , I believe your specific issue might be fixed on `dev-master`, can you give it a try? https://github.com/psalm/psalm-plugin-laravel/pull/41

[2020-04-20 00:19] #37 closed

[2020-04-20 00:20] mr-feek commented on #21
I've been racking my head around this one! Running into it as well, I'll try to take a stab at fixing

[2020-04-20 01:41] mr-feek commented on #21
I have a feeling that https://github.com/barryvdh/laravel-ide-helper/pull/920  will fix this, but  I'm uncertain if it will be included in ide-helper. If it won't, we'll have to come up with another solution

[2020-04-21 09:28] mr-feek commented on #21
It appears that stub files in psalm don't just change docblocks, but can also change class structure (IE losing interfaces)

[2020-04-21 12:56] #24 closed

[2020-04-21 19:18] mr-feek commented on #21
@robguy21 I got the fix merged into ide-helper.

`composer require "barryvdh/laravel-ide-helper:dev-include-interfaces as 2.7" --dev --verbose` should do the trick for ya, until ide-helper publishes a new release

[2020-04-21 19:18] #21 closed

[2020-04-22 05:30] mr-feek opened #51 "Support for model factories"
We need to template model factories and create a return type provider to decide if a collection or model instance will be returned

[2020-04-24 12:54] HenkPoley opened #53 "This plugin ought to suppress PossiblyUnusedClass/Method on common Laravel idoms"
This is mainly a reference to this, but more broadly for the whole of Laravel: https://github.com/vimeo/psalm/issues/2489

List of issues to handle: https://github.com/vimeo/psalm/issues/2489#issuecomment-568410933

Currently getting 695 extra errors when I add `--find-unused-code` 😬 (on a different code base than above)

One of these days I'll put aside some time to fix this.

[2020-04-28 22:30] mr-feek commented on #51
Very close to finished this.

[2020-04-29 09:44] brendt commented on #43
@muglug how was this fixed? PhpStorm still shows both options

![Screen Shot 2020-04-29 at 11 43 55](https://user-images.githubusercontent.com/6905297/80582294-bb040700-8a0e-11ea-9ff3-9a070b61d3f3.png)

[2020-04-29 09:46] brendt commented on #43
Ah, I believe this wasn't tagged yet.

[2020-04-29 10:31] brendt opened #54 "_ide_helper_models.php isn't loaded in github actions"
I'm getting these kinds of errors when running psalm in a github action:

[code]

Running psalm locally doesn't yield these errors. I'm sure `_ide_helper_models.php` is available within the github action, since it's committed in the repository.

[2020-04-29 13:20] muglug commented on #43
@mr-feek want to cut a release?

[2020-04-29 17:19] mr-feek commented on #54
Hey @brendt, are you able to share the repo having issues? I'll gladly take a look! We don't yet run any model tests for this plugin, so I'm not sure off the top of my head.

[2020-04-29 17:19] mr-feek commented on #43
Released https://github.com/psalm/psalm-plugin-laravel/releases/tag/1.2.0

[2020-04-30 07:24] brendt commented on #43
Awesome, thanks!

[2020-04-30 07:26] brendt commented on #54
Unfortunately I cannot share the repo, since it's a client project. I'll try to setup a dummy repository to share though!

[2020-04-30 08:02] brendt commented on #54
Making a test project, I realised the ide helper files were outdated in our real project, which was the cause of the issue. Sorry for the overhead!

[2020-04-30 08:02] #54 closed

[2020-05-04 04:40] mr-feek opened #59 "Support for path helpers"
Currently, the likes of `base_path()` emits an `UnresolvableInclude`.

These are all of the path helpers to add support for

[code]

[2020-05-04 04:53] mr-feek opened #60 "Support for Auth Facade"
[code]
on a fresh laravel install

[2020-05-04 05:09] mr-feek opened #61 "Application::makeWith does not exist"
[code]

We can probably figure out the app instance to use  and  return that, rather than the application  interface which is missing some methods.

https://github.com/psalm/psalm-plugin-laravel/pull/57 will be a step in the right direction for helping this

[2020-05-06 10:34] brendt opened #62 "models.stubphp out of sync"
Psalm reported following error:

[code]

It seems like it didn't recognise `productDetail` as the relation.

So I did some digging in `_ide_helper_models.php`, where the property seemed to exist:

[code]

Looking at `models.stubphp` in `vendor/psalm/plugin-laravel/src/cache/models.stubphp` though, the property wasn't present. It seemed like this file was an outdated version.

I've tried reinstalli

[2020-05-06 10:36] brendt commented on #62
Doing some more digging into this, it seems like all `@property-read` properties are missing in `models.stubphp`

[2020-05-06 10:40] brendt commented on #62
I'm using `dev-master` btw

[2020-05-07 08:06] madslundholmdk commented on #60
👍

[2020-05-08 20:34] mr-feek commented on #62
Thanks for the report @brendt , I'll see if i can get this addressed this weekend. It probably has to do with our override of the ide helper models command: https://github.com/psalm/psalm-plugin-laravel/blob/master/src/FakeModelsCommand.php#L128

[2020-05-09 01:43] #61 closed

[2020-05-10 07:06] mr-feek commented on #62
@brendt in the meantime, i think you should be able to load your own `_ide_helper_models.php` file as a stub file in your `psalm.xml` file.

[2020-05-12 07:09] mr-feek commented on #60
Proposed a fix for this in laravel: https://github.com/laravel/framework/pull/32772

[2020-05-13 12:51] brendt commented on #62
Thanks for looking into this @mr-feek !

FYI for anyone reading this before the bug is fixed, I tried adding `_ide_helper_models.php` but psalm still reports the errors.

[2020-05-13 16:54] mr-feek commented on #62
@brendt curious, does the problem still happen if the properties are declared in the doc blocks of the model itself? IE @param tag

[2020-05-14 06:53] brendt commented on #62
@mr-feek it does, both with `@param` or `@property-read`

[2020-05-17 16:07] mr-feek opened #66 "Run tests on actual laravel project"
**Is your feature request related to a problem? Please describe.**
Let's clone our supported laravel releases during our CI pipeline and run this plugin and an accompanying baseline file on them. That will help to ensure that we don't have any regressions.

**Describe the solution you'd like**
Larastan and psalm itself both do something similar --  let's use them for inspiration

[2020-05-17 16:21] muglug commented on #66
Have a look at Psalm’s test-with-real-projects.sh for inspiration

[2020-05-21 07:53] mr-feek opened #67 "Support for response helper"
**Describe the bug**
[code]

**Impacted Versions**
[code]

**Additional context**
We just need to write a simple stub for the response helper

[2020-05-21 07:56] mr-feek commented on #3
https://github.com/psalm/psalm-plugin-laravel/pull/52

[2020-05-23 05:20] mr-feek commented on #3
Going to consider this closed!

[2020-05-23 05:20] #3 closed

[2020-05-23 05:37] #51 closed

[2020-05-23 05:39] mr-feek commented on #60
this should be  fixed upstream in laravel now https://github.com/laravel/framework/pull/32811

[2020-05-23 05:39] #60 closed

[2020-05-24 07:43] #67 closed

[2020-05-24 21:17] mr-feek opened #72 "Psalm init crashing when \Eloquent is referenced"
**Describe the bug**
Context: https://github.com/vimeo/psalm/issues/3449

It seems psalm crashes on the first run when` \Eloquent` is referenced. If this is the case, we will want to provide better messaging in Psalm, as well as documentation here around how to resolve.

**Impacted Versions**
Unknown.

[2020-05-25 04:47] #72 closed

[2020-06-05 13:04] brendt commented on #62
@mr-feek any update on this? Anything I can do to help?

[2020-06-05 14:40] mr-feek commented on #62
Hey @brendt , I have a draft PR open for relation support — hoping to get around to finishing it up this weekend.

Care to try it out and see if it fixes your issue? If it doesn’t, PRing a failing test case would be super helpful!

[2020-06-05 18:53] mr-feek commented on #62
This is the draft PR i was referring to: https://github.com/psalm/psalm-plugin-laravel/pull/73

[2020-06-07 02:38] mr-feek commented on #30
I'm going to close this as I believe it is fixed. Please let me know if this is still an issue

[2020-06-07 02:38] #30 closed

[2020-06-07 19:54] mr-feek commented on #62
@brendt I believe this is now fixed on `dev-master`. I ran it on a project of mine with 40+ models and relations were working for me. Let me know!

[2020-06-07 19:54] #62 closed

[2020-06-09 06:32] brendt commented on #62
Hi @mr-feek

Thanks!

I've noticed one type of error popping up now, which prevented me from further testing, and this one was new since updating to dev-master:

[code]

There were a few more instances, I suppose related:

[code]

[2020-06-09 11:46] mr-feek commented on #62
Ah yes, I have a todo for the morph relations! I never use them, so they confuse me a bit. I’ll dig in before cutting a new release

[2020-06-09 12:00] brendt commented on #62
Maybe this could help: https://stitcher.io/blog/laravel-has-many-through

[2020-06-09 12:00] brendt commented on #62
Oh no, those are morphs, not hasManyThrough; my bad

[2020-06-09 15:44] mr-feek opened #80 "Support for polymorphic relations"
**Describe the bug**
[code]

**Impacted Versions**
`dev-master`

**Additional context**
@brendt reported here: https://github.com/psalm/psalm-plugin-laravel/issues/62#issuecomment-641062941

[2020-06-09 17:42] #80 closed

[2020-06-10 06:32] brendt commented on #62
Just tried these changes out, they work as expected, thanks!

[2020-06-10 06:33] mr-feek commented on #62
wahoo -- ill be tagging a new release once psalm tags theirs (because im dependent on a bug fix).

In the meantime, please create issues for any more bugs you run into!

[2020-06-22 03:43] mr-feek commented on #66
https://github.com/psalm/psalm-plugin-laravel/pull/87

[2020-06-22 03:43] #66 closed

[2020-06-22 21:15] liviublidar opened #89 "Failure to install due to dependencies conflict"
**Describe the bug**
 Initial installation on Laravel 6.0 is not possible due to dependencies conflict.

**Impacted Versions**
[code]
**Additional context**

[code]

[2020-06-23 00:30] mr-feek commented on #89
Hrm, I don't know much about these composer packages, but it looks like the issue is because you have `composer/semver` locked at `3.0`, and laravel-ide-helper (which this package depends on), requires `composer/composer` `^1.6`

@liviublidar what version of composer are you using? Is there a public repo that I can reproduce with?

I think this issue will need to be resolved over at laravel-ide-he

[2020-06-23 03:23] mr-feek commented on #59
Hey @muglug , any insight for how to inform psalm of these paths via the plugin?

[2020-06-23 03:33] muglug commented on #59
A return type provider for that method that returns a literal string should work

[2020-06-23 03:34] mr-feek commented on #59
Ah cool, i can probably just swap out the typehinted contract with the actual instance that provides these methods, thanks!

[2020-06-23 16:14] mr-feek commented on #89
@liviublidar I believe the issue might be resolved now, i opened a PR over at ide-helper. You'll need to update that to the latest dev-master while installing this package, care to give it a shot?

[2020-06-24 15:09] liviublidar commented on #89
@mr-feek Sure, sorry for replying so late, got caught up in other chores. Will try it out today/tomorrow.

[2020-07-03 12:18] vladyslavstartsev opened #90 "memory leak"
**Describe the bug**
When using `psalm` with Laravel plugin I have, as I think, memory leak.
At least, when I run it with plugin, I have
[code]

when I run without plugin, it works fine

**Impacted Versions**
laravel/framework 5.8
vimeo/psalm 3.9
psalm/plugin-laravel 1.2.1
Can't give more info due to NDA.

**Additional context**
Add any other context about the problem here.
I can provide some othe

[2020-07-03 13:56] muglug commented on #90
Hey, please try to narrow it down a bit more - run with `--debug` to figure out what file it’s coming from, and see if running on just that file still produces the leak

[2020-07-05 18:04] vladyslavstartsev commented on #90
:facepalm: my bad, I've made cyclic dependency, that's why it was not working

[2020-07-05 18:04] #90 closed

[2020-07-07 11:02] juriem-paxful opened #91 "Could not get class storage for eloquent"
**Describe the bug**
When I try to execute psalm receiving next error

In ClassLikeStorageProvider.php line 45:

  Could not get class storage for eloquent

**Impacted Versions**
barryvdh/laravel-debugbar             v3.3.3             PHP Debugbar integ...
barryvdh/laravel-ide-helper           v2.7.0             Laravel IDE Helper...
barryvdh/laravel-snappy               v0.4.7             Snappy

[2020-07-07 20:01] mr-feek commented on #91
Hrm, I wonder if this was a regression in psalm.

This was a previous report, which was fixed: https://github.com/psalm/psalm-plugin-laravel/issues/72

@juriem-paxful could you share the snippet of code that is causing the error? `./vendor/bin/psalm --debug-by-line` should help narrow it down to the file

[2020-07-08 07:48] juriem-paxful commented on #91
`

namespace App\Models;

use Illuminate\Database\Eloquent\SoftDeletes;

/**
 * Class Affiliate
 *
 * @property integer $id
 * @property integer $user_account_id
 *
 * @property UserAccount $userAccount
 */
class Vendor extends AbstractModel
{

    use SoftDeletes;

    const DEFAULT_REFERRAL_FEE_PERCENTAGE = 20;

    protected $table = 'vendors';

    protected $dates = ['deleted_at'];

    prote

[2020-07-08 10:05] netcode commented on #89
The problem exists because
Psalm it self use `composer/semver 3.0`
and Laravel-ide-helper v2.7 is using `composer/composer 1.10` which requires `composer/semver ^1.0` .

I think we need to update the requirements here to point to `Laravel-ide-helper` dev-master instead of v2.7 until they release official version

[2020-07-12 22:34] mr-feek commented on #10
I'm going to close this out, please open up any specific issues you may be having.

[2020-07-12 22:34] #10 closed

[2020-07-12 22:36] mr-feek opened #93 "Method Illuminate\Foundation\Application::environment does not exist"
**Describe the bug**
[code]

**Impacted Versions**
[code]

**Additional context**
N/A

[2020-07-13 17:29] AlbinoDrought opened #94 "Undefined index: wrap at Psalm/Internal/Analyzer/Statements/Expression/Fetch/StaticPropertyFetchAnalyzer.php:318"
**Describe the bug**

I have some code that Psalm okays when `psalm/plugin-laravel` is disabled. When `psalm/plugin-laravel` is enabled, I get an `Undefined index: wrap` error. Full repro at https://github.com/AlbinoDrought/repro-psalm-laravel-undefined-index

I have this resource:

[code]

I have this controller:

[code]

I see

[code]

The `Undefined index: $wrap` error is triggered by `UserReso

[2020-07-13 17:30] mr-feek commented on #94
Thanks @AlbinoDrought for all the details, especially the repro. I'll try to take a look at this later today!

[2020-07-13 18:59] AlbinoDrought commented on #94
Additionally, Psalm exits with a successful exit code when this happens (CI thinks everything is alright, keeps going)

![image](https://user-images.githubusercontent.com/852873/87342548-4bc38c80-c500-11ea-9819-fb9c736ab779.png)

This is probably related to Psalm instead of this plugin though

[2020-07-14 00:13] mr-feek commented on #94
This sure is interesting. I can repro it in your repo for sure, but I can't reproduce it in the test suite for this plugin. I'll continue digging.

[2020-07-14 00:52] mr-feek commented on #94
When I remove `facade/ignition` as a dependency, there are no errors. It's something to do with that.

[2020-07-14 01:47] mr-feek commented on #94
Still debugging, but I don't think  the container is happy with https://github.com/facade/ignition/blame/3da36c423bd3edbc77baf09f4d942a9264b4eeec/src/DumpRecorder/DumpRecorder.php#L27-L29

[2020-07-14 02:00] mr-feek commented on #94
There are also no issues with laravel 7.14.0. Maybe something to do with changes including/after this https://github.com/laravel/framework/commit/6018c1d18e7b764c17307c1f98d64482a00a668d#diff-67b786d2e47fe6e904a7dd17e3373295

[2020-07-14 14:43] mr-feek commented on #94
i'm still very unclear on the **why** psalm is crashing here. @muglug do you have any insights for me?

[2020-07-14 14:48] mr-feek commented on #94
When I disable laravels exception handler (comment out `\Illuminate\Foundation\Bootstrap\HandleExceptions::class,` in `Illuminate\Foundation\Console\Kernel.php`

[code]

[2020-07-14 15:22] mr-feek commented on #94
Doing some more step debugging through psalm, and I've gotten this far:

https://github.com/vimeo/psalm/blob/master/src/Psalm/Internal/Analyzer/Statements/Expression/Fetch/StaticPropertyFetchAnalyzer.php#L318

This property (`$wrap`) exists in `$class_storage->inheritable_property_ids`, but not in `$class_storage->properties`, which is causing the php notice.

@muglug is this something that should

[2020-07-15 15:14] mr-feek opened #96 "Cannot resolve the type of named aliases from the container"
**Describe the bug**
https://github.com/facade/ignition/pull/292#discussion_r454428312

ala

[code]

**Impacted Versions**
all

**Additional context**
Laravel-ide-helper  already determines the type for each of these aliases by resolving them from the container. We can probably reuse that logic somehow, or else apply the same technique

[2020-07-15 15:17] mr-feek opened #97 "Support for abort_if"
**Is your feature request related to a problem? Please describe.**
https://github.com/facade/ignition/pull/292/files#r455046472

[2020-07-16 09:21] brendt opened #98 "models.stubphp out of sync"
There are small differences between a project generated models file, compared to psalm cached version:

This is an excerpt from `models.stubphp`

[code]

While this is the project-level equivalent:

[code]

You can see that `whereEvent` misses from the psalm version. The scope certainly exists btw. I've regenerated both the cached psalm file and the project file, they stay out of sync.

As a siden

[2020-07-16 14:44] mr-feek commented on #98
This is something I've been trying to decide. Generating laravel-ide-helper every psalm run adds several seconds of overhead. However, we also can't be certain that the developer has run laravel-ide-helper since changing their model properties around, and would result in false positives.

We override a few of the larvel-ide-helper commands to add our own functionality. This seems like a bug

[2020-07-17 06:02] brendt commented on #98
Could it be an optional setting in `psalm.ini` to override which ide helper file is used? I'm more than happy to keep the file in sync myself, it's built into our workflow.

[2020-07-19 17:41] mr-feek commented on #98
@brendt could you share your ide helper config file? I first want to look into why the ide helper files generated by this plugin are missing information

[2020-07-21 02:59] mr-feek commented on #93
This might also be due to https://github.com/vimeo/psalm/issues/3850

[2020-07-21 03:02] mr-feek commented on #91
Just taking note that it seems something to do with

[code]

Perhaps we have issues  with the creating event, I will try to reproduce it in the test suite.

[2020-07-21 03:55] mr-feek commented on #97
I believe this might be dependent on https://github.com/vimeo/psalm/issues/3858

[2020-07-22 12:45] brendt commented on #98
Sure, here it is:

[code]

[2020-07-23 15:07] mr-feek opened #101 "Support for Storage Facade"
**Is your feature request related to a problem? Please describe.**

[code]

[2020-07-24 15:19] mr-feek commented on #98
This actually  isn't related  to configs -- it's due to our override of `getPropertiesFromMethods`. Off the top of my head I'm not sure why we override this to do nothing, I will have to look into it to decipher the rationale.

https://github.com/barryvdh/laravel-ide-helper/blob/master/src/Console/ModelsCommand.php#L462
https://github.com/psalm/psalm-plugin-laravel/blob/master/src/FakeModelsComman

[2020-07-25 17:58] mr-feek commented on #89
`dev-master` should be in a good state, im going to close this

[2020-07-25 17:58] #89 closed

[2020-07-25 18:14] #97 closed

[2020-07-25 22:27] mr-feek commented on #93
I have removed the template for the container in https://github.com/psalm/psalm-plugin-laravel/pull/102 , so  this might be fixed when that PR is merged

[2020-07-25 22:43] mr-feek opened #103 "Fix tests asserting errors are produced"
**Describe the bug**
See convo here: https://github.com/weirdan/codeception-psalm-module/issues/18

the expected errors are supposed to have table headers

[2020-07-26 03:14] #96 closed

[2020-07-27 00:36] #93 closed

[2020-08-11 06:34] brendt commented on #98
@mr-feek thanks for looking into it! I was on holiday so that explains my lack of input, if you still need anything from me, please let me know!

[2020-08-15 05:25] mr-feek commented on #98
Sorry, I'm afraid I'm not going to have the time to dive into this until it affects some of my projects that I work on. I tend not to use scopes / dynamic where's

[2020-08-15 05:27] mr-feek commented on #98
@brendt as a workaround, I think committing the model docblocks to the model file might work?

[2020-08-18 09:02] rubenvanassche opened #106 "Psalm crashes: Could not get class storage for"
**Describe the bug**
When running psalm, an error occurs with the message: ` Could not get class storage for`. This is happening in the `ClassLikeStorageProvider`, here: https://github.com/vimeo/psalm/blob/master/src/Psalm/Internal/Provider/ClassLikeStorageProvider.php#L41-L48. This method is getting called from here: https://github.com/vimeo/psalm/blob/master/src/Psalm/Internal/Analyzer/Statement

[2020-08-18 13:38] brendt commented on #98
Ok, will give this a try! Do you think there ever will be an option to have psalm use predefined ide helper files instead of generating them on the fly?

[2020-08-18 18:51] mr-feek commented on #106
I notice you're on dev-master, it could be https://github.com/vimeo/psalm/issues/4013 .

Could you try updating psalm to the latest dev-master?

[2020-08-19 12:31] rubenvanassche commented on #106
Hi @mr-feek,

That seems to fix it, although another error popped up, maybe we should stop using the master version 😬

[2020-08-19 12:31] #106 closed

[2020-08-21 13:18] AidynMakhataev opened #107 "Could not get class storage for"
**Describe the bug**
After updating to 1.4.0 version, psalm was crashed by following error

[code]

**Impacted Versions**

`barryvdh/laravel-ide-helper               v2.8.0`
`laravel/framework                         v7.25.0`
`vimeo/psalm                               3.14.1`
`psalm/plugin-laravel                      v1.4.0`

[2020-08-22 15:30] #107 closed, assigned to mr-feek

[2020-08-24 12:22] Gummibeer commented on #107
For me this error still exists. I'm in `vimeo/psalm:3.14.2` and `psalm/plugin-laravel:1.4.0`.

My `psalm.xml` is:
[code]

And the full error output is:
[code]

[2020-08-24 12:31] Gummibeer commented on #107
After playing around a bit it seems like the `public function newQuery(): Builder` method on my `User` model is the problem.
Possibly because @barryvdh laravel-ide-helper always generates the `@method static Builder|User newQuery()` line independent if it's already defined in the class or not.
As soon as I move the method into my base model or fully remove it everything is fine and psalm runs agai

[2020-08-26 01:34] chatii commented on #26
@karllhughes
I had the same problem. In my project, I was able to avoid it by taking the following steps.

1. `php artisan ide-helper:models --write` to prepare annotations for the model.
2. Rewrite the scope annotation (`@method`)
    - before: `@method static \Illuminate\Database\Eloquent\Builder|\App\Models\MyModel byHogeId($hoge_id = null)`
    - after: `@method static byHogeId($hoge_id = null

[2020-08-31 20:00] #98 closed

[2020-09-02 12:05] brendt opened #110 ""Could not get class storage for illuminate\support\facades\broadcast" when specifying a file path"
If I run psalm with a file specified, the following error is thrown:

[code]

[code]

Running psalm on the whole codebase succeeds.

[2020-10-06 14:16] pvsaintpe opened #114 "Psalm not working with Laravel Aliases for Facades"
[code]

I'm using these packages:

"php": "7.3.*"
"laravel/framework": "^7.24"
"psalm/plugin-laravel": "1.4.0"
"vimeo/psalm": "3.16"

[2020-10-13 17:26] mr-feek commented on #114
Hi @pvsaintpe

Could you please share a way to reproduce this? Aliases are working in the unit tests, so would love to see what is breaking this

[2020-10-16 05:05] Ignas2526 opened #115 "Allow more precise Eloquent relationship specification"
**Is your feature request related to a problem? Please describe.**
[code]
The return type of `something()` type should be known and it should be `\App\Models\User|null`.

**Describe the solution you'd like**
The solution would be to support template in all of the relationship calls like in the above example.

[2020-10-18 10:15] pro2s opened #116 "`first` method of BelongsToMany has wrong return type"
**Describe the bug**
the `first` method of BelongsToMany has wrong return type. It can return model or null, but described only model. Also the method has some code in body.
And on checking I get that error:
[code]

**Impacted Versions**
barryvdh/laravel-ide-helper           v2.8.0       Laravel IDE Helper, generates correct PHPDocs for all Facad...
laravel/framework                     v5.8.38

[2020-10-20 23:54] mr-feek commented on #116
wanna send a pr @pro2s ?

[2020-10-21 10:41] pro2s commented on #116
Yea, I will try )

[2020-10-22 08:11] HenkPoley opened #118 "Plugin triggers "ErrorException : Undefined index: unguarded" in StaticPropertyFetchAnalyzer"
**Describe the bug**
Adding this plugin to psalm v4.0.0 or v4.0.1 triggers "ErrorException  : Undefined index: unguarded"

It wouldn't surprise me if there is some kind of clash with this class inheriting from our class named 'Model', which does a lot of Eloquent-y stuff. If I prune enough code it also seems to inhibit loading this plugin for some reason.

Memory usage was also to the order of 24G

[2020-10-22 09:49] JoeAlamo commented on #110
I have been experiencing this also, it has been very odd. It is for different facades at different times.

When I encounter the issue, if I re-run Psalm with `--no-diff` it runs all the way through without any issues.

[2020-10-22 14:08] muglug commented on #110
What happens when you run `--debug-by-line`? The code it analyses should point to the root of the issue

[2020-10-22 14:24] muglug commented on #110
If the plugin provides a return type for a given method, it’s assumed that any classes in that return type have already been scanned by Psalm.

A usual workaround for a magic method like `app` is to add for scanning all the possible classes it could return.

[2020-10-22 17:39] mr-feek commented on #110
Anyone able to share some code that can reproduce?

[2020-10-22 17:42] #116 closed

[2020-10-22 17:44] mr-feek commented on #118
Hi @HenkPoley -- just to confirm, did you only notice this issue when upgrading to psalm v4? Or were you also experiencing it in v3?

Would you mind invoking psalm with `--debug-by-line` to see if there is a specific line in your model that is causing a problem?

[2020-10-22 17:45] mr-feek commented on #59
This should have been resolved in #99

[2020-10-22 17:45] #59 closed

[2020-10-23 06:35] HenkPoley commented on #118
Ah cool, `--debug-by-line` pointed me to our Eloquent-y Model, which in the constructor sets `self::$unguarded = true;`, hence the error.

I replaced it with `static::unguard();`. Which calls `\Illuminate\Database\Eloquent\Concerns\GuardsAttributes::unguard($state = true)`

[2020-10-23 15:41] #118 closed

[2020-10-23 17:16] pdawson commented on #110
Just had this issue myself, what triggered it for me was hinting scopes on a model.

It appears though it requires the FQCN rather than accepting `Builder` on its own:

**This works**
[code]

**This breaks it**:
[code]

---

[code]

[2020-11-10 12:53] mapbuh commented on #114
Sorry to interject, but I've got similar issue. Here's the step to reproduce:

[code]

[2020-11-22 14:41] ppmathis commented on #110
I've stumbled across the same issue while running Psalm against a Laravel project. Analyzing the whole code base works fine, but inspecting single files fails consistently with `Could not get class storage for <any facade class in Illuminate\Support\Facades>`. Unfortunately this results in the PhpStorm Psalm integration breaking, as the IDE will obviously head for analyzing single files instead of

[2020-11-24 20:55] caugner opened #119 "Laravel 8.3+: optional() in RouteServiceProvider causes MixedPropertyFetch + MixedArgument errors"
**Describe the bug**
As of Laravel 8.3.0 ([this commit](https://github.com/laravel/laravel/commit/bec982b0a3962c8a3e1f665e987360bb8c056298)), the `RouteServiceProvider` uses the helper `optional()`, which causes the following errors:

[code]

**Impacted Versions**
Affects Laravel 8.3.0 and later.

**Additional context**
I guess this could be fixed by adding stubs for both the `optional()` function

[2020-11-24 20:59] caugner commented on #119
Feel free to use my attempt for the stubs, which didn't seem to work for me:

[code]

[2020-12-06 04:17] maximal opened #120 "Endless memory consumption and aborting"
**Describe the bug**
I have an issue similar to @vladyslavstartsev’s #90.
On the project I currently want to refactor this plugin fails with endless memory consumption on one file every time.
I limited the Psalm config with the directory containing this file only, but this didn’t help.
Without the plugin Psalm runs okay but the results are unusable as they have many Laravel-specific issues.

**Imp

[2020-12-06 21:09] mr-feek commented on #119
Thanks for the report @caugner ! The automated tests are indeed catching this issue too, I'll try to take a look shortly

[2020-12-07 02:56] mr-feek commented on #114
I'm going  to close this until I can get more information

[2020-12-07 02:56] #114 closed

[2020-12-07 02:57] mr-feek commented on #110
I'm afraid this is outside my knowledge -- I think we need to defer to @muglug to help understand why psalm might be failing on subsequent scans

[2020-12-07 03:05] mr-feek commented on #120
I have a feeling this is related to a cyclic dependency in the container perhaps. We result to some "dynamic analysis" in some parts of laravel, such as using the container to resolve dependencies.

-----

We use https://github.com/barryvdh/laravel-ide-helper under  the hood. Curious, are you able to run `php artisan ide-helper:generate` manually without running out of memory?

[2020-12-07 03:14] mr-feek commented on #119
I took a stab at this, I'm also running into some issues. Documenting where I left off: https://github.com/psalm/psalm-plugin-laravel/pull/122

Feel free to give it a shot also

[2020-12-07 16:21] maximal commented on #120
@mr-feek, I generate IDE helpers on every composer update and install. It goes fine.

[2020-12-07 16:24] mr-feek commented on #120
Not sure I can help any more without the source code. Feel free to share it with me (fiachra @ squareup . com) if you are comfortable

[2020-12-07 17:00] maximal commented on #120
@mr-feek, sent.

[2020-12-07 17:30] CharlieTap commented on #120
I'm experiencing similar symptoms, memory consumption on a smallish project ramping up and eventually throwing and OutOfMemory Error. Psalm works fine without the plugin.

[2020-12-09 03:34] mr-feek commented on #120
@CharlieTap feel free to share some code to reproduce if you can!

[2020-12-09 11:40] CharlieTap commented on #120
@mr-feek Unfortunately I'm not allowed to share the source, I did try a build today without sentry and it I still had the same issue. Interestingly this time with errors, I ran it several times and encountered different errors but all of which reside in the same area.

These are my deps:

[code]

And the below contains a few stack traces from the issue

/var/www # ./vendor/bin/psalm
Scanning files

[2020-12-16 11:56] Ignas2526 opened #123 "Contents of models.stubphp are incomplete"
**Describe the bug**
Contents of models.stubphp are incomplete. I get errors about missing model class properties. E.g. id. This was not an issue in 1.4.0 version. I don't get this issue with _ide_helper_models.php generated by barryvdh/laravel-ide-helper.

**Impacted Versions**
1.4.1 and 1.4.2

[2020-12-19 12:56] stanimirdim92 opened #125 "Dependency installation conflict"
**Describe the bug**
Using PHP 7.4 with composer 2. Trying to install v1.4 of this plugin.

**Impacted Versions**
barryvdh/laravel-ide-helper           v2.8.2             Laravel IDE Helper, generates correct PHPDocs for all Facade classes
barryvdh/reflection-docblock          v2.0.6
laravel/framework                     v8.19.0            The Laravel Framework.
laravel/passport

[2020-12-21 03:22] mr-feek commented on #125
@stanimirdim92 does the recommended `--with-all-dependencies` not work?

[2020-12-21 03:27] mr-feek commented on #123
Does laravel ide helper have any errors or anything? Are you able to share the code?

[2020-12-21 10:57] stanimirdim92 commented on #125
It does. Thanks!

[2020-12-21 19:20] mr-feek commented on #125
That definitely seems to be a bug with this plugin. I'm going to close this original ticket. Please open up another with any findings or code to reproduce!

[2020-12-21 19:20] #125 closed

[2020-12-27 23:37] maximal commented on #120
Sorry, accidentally closed the issue.

Any news on this?

[2020-12-28 19:17] mr-feek commented on #120
I'm disconnecting over the holidays, I'll take a look again next week

[2021-01-14 09:26] ultrono commented on #10
I'm find a few of these myself i.e. `dispatchNow`.

For the moment I'm just surpressing these via a DockBlock:

[code]

[2021-01-19 07:47] HenkPoley commented on #125
@stanimirdim92 did you resolve the `Cannot get method params for Illuminate\Contracts\Foundation\Application::__call` exception?

[2021-01-21 07:02] stanimirdim92 commented on #125
Hi, I think it did. However, I had other issues. Currently I don't have it
installed. Will run few tests this weekend and let you know.

На вт, 19.01.2021 г. в 9:48 ч. Henk Poley <notifications@github.com> написа:

[2021-01-22 07:55] JesterAntik commented on #125
Add more case:
Error:
[code]
Debug
[code]

Code:
[code]

[2021-01-22 14:18] HenkPoley commented on #125
Ref: https://github.com/laravel/ui/blob/3.x/auth-backend/SendsPasswordResetEmails.php#L66-L78

[2021-01-26 02:36] luisgrases commented on #120
It also hangs for me for chained eloquent queries:
[code]
Hangs for me. If I remove one of the joins it works again. Looks like it have a max of 5 chained queries. If you have more than that it will just hang

[2021-02-08 10:22] salfum commented on #110
Have the same problem. Running with the `--no-cache` option helps, but it is not an option.

[2021-02-16 13:27] azurinspire commented on #123
I have same problem in fresh Laravel Jetstream project, created with:

`laravel new laravel-project --jet --teams --stack=inertia`

Installed Psalm, this plugin and ide-helper. PhpStorm is able to find User::$id from _ide_helper_models.php but Psalm is not:

![Screenshot 2021-02-16 at 14 25 35](https://user-images.githubusercontent.com/40248184/108068927-0a312c00-7063-11eb-8b50-fd17d576e6ed.png)

[2021-02-22 14:32] riasvdv opened #127 "TooManyTemplateParams on morphOne"
**Describe the bug**

[This PR](https://github.com/psalm/psalm-plugin-laravel/pull/81) added support for polymorphic relations, but morphOne seems to be missing.

**Impacted Versions**
vimeo/psalm 4.4.1
psalm/plugin-laravel v1.4.2

[2021-02-25 18:47] neclimdul opened #128 "Binding job dependency injection causes psalm to crash"
**Description**
Binding job handle dependencies causes psalm to crash. The crash matches this earlier bug report #125.

From the documentation, if you need to specify how dependencies get injected to your job's handle method you need to use the `bindMethod` container method. This is a requirement if you have named services for any reason that can't be automatically resolved.
https://laravel.com/do

[2021-02-25 18:48] neclimdul commented on #125
If you're using the bindMethod or possibly some other methods that exist on the real container but aren't on the container interface hinted in the service provider base class this will happen. @see #125 for a test case.

[2021-02-25 18:54] neclimdul commented on #128
FWIW if you're running into this I worked around it by adding this to my service provider. Obviously it would be better if it worked out of the box or provided a failure and some useful feedback instead of crashing out entirely though.

[code]

[2021-03-09 15:26] eithed opened #129 "Static return types are being ignored"
**Describe the bug**
When using `find` or `findOrFail` methods within Laravel as such:

[code]

It will be inferred that `Illuminate\Database\Eloquent\Collection<Illuminate\Database\Eloquent\Model>|Illuminate\Database\Eloquent\Model` is being returned, even though what is actually returned is object of `Account` type, per declaration within `find` or `findOrFail` being `* @return \Illuminate\Datab

[2021-03-10 00:15] stephandesouza opened #130 "Why `orchestra/testbench` isn't a require-dev?"
**Is your feature request related to a problem? Please describe.**
We're migrating `fzaninotto/faker` to `fakerphp/faker` but the `orchestra/testbench` makes it impossible to use it, failing on dependency resolution.

`psalm/plugin-laravel` is already a dev dependency on our project.

![image](https://user-images.githubusercontent.com/159077/110555912-3d278680-811c-11eb-8440-b079a9047d3a.png)

**D

[2021-03-10 00:23] stephandesouza commented on #130
Dang!

As I see, `ApplicationHelper` uses `Orchestra\Testbench\Concerns\CreatesApplication` so moving can cause errors when not requiring `orchestra/testbench` on projects.

[2021-03-11 08:30] 1thew opened #131 "Illuminate\Support\Collection::put psalm error with InvalidArgument"
**Describe the bug**
Code example:
[code]
See error:
[code]
but:
[code]
Is this a bug? Or I don't understand something?

**Impacted Versions**
[code]

**Additional context**
1. psalm  errorLevel="5"
2.
[code]

[2021-03-11 09:32] brendt opened #132 "Missing ID field in models stub"
I've got this model

[code]

with this migration

[code]

The normal models_ide file generated in the project looks like this:

[code]

*However*, the psalm version is missing the ID field:

[code]

Any ideas what might be wrong?

[2021-03-12 08:07] brendt commented on #132
Edit: the problem was because `use Illuminate\Support\Facades\Schema;` was missing in the migration class.

[2021-03-18 12:07] MaksBrainiac opened #134 "Could not get class storage for illuminate\support\facades\ratelimiter"
When running psalm, often an error occurs with the message:  Could not get class storage for illuminate\support\facades\ratelimiter

InvalidArgumentException

  Could not get class storage for illuminate\support\facades\ratelimiter

  at vendor/vimeo/psalm/src/Psalm/Internal/Provider/ClassLikeStorageProvider.php:42
     38▕     public function get(string $fq_classlike_name): ClassLikeStorage

[2021-03-18 12:16] MaksBrainiac commented on #134
Looks like duplicate for https://github.com/psalm/psalm-plugin-laravel/issues/110

[2021-03-18 12:16] #134 closed

[2021-03-18 17:52] mr-feek commented on #130
Hey @stephandesouza !

`orchestra/testbench` is currently a dependency for support of _packages_. Developers  who create third party laravel packages need  to be able to run static analysis, but they don't necessarily have an _app_ to boot up. Testbench currently provides us one that we can easily use in those scenarios.

When doing your update, make sure to `--with-all-dependencies` to try updati

[2021-03-18 17:57] mr-feek commented on #132
Did that resolve your issue @brendt ? Can we close this?

[2021-03-18 17:57] #130 closed

[2021-03-19 04:29] brendt commented on #132
I think it's technically a bug, since it should also work when not importing `Illuminate\Support\Facades\Schema`, since class aliases are a thing in Laravel. On the other hand… I really don't mind ditching Aliases in my projects (this one was an oversight); so you can close it if you don't want to fix it, it's definitely not a blocker anymore!

[2021-03-25 23:59] maximal commented on #120
@mr-feek, just wondering if you had time to look into this issue?

[2021-03-30 20:00] mr-feek commented on #120
@maximal sorry, but no. I don't really use laravel at work anymore at the moment, so I haven't been working at resolving any of these bugs. Happy to merge any PRs that resolve issues though

[2021-04-02 19:27] caugner opened #137 "BC in barryvdh/laravel-ide-helper - FakeModelsCommand::getPropertiesFromTable() changed from protected to public"
**Describe the bug**
After updating ` barryvdh/laravel-ide-helper` from `2.9.0` to `2.9.3`, Psalm fails with the following fatal error:

[code]

**Impacted Versions**

[code]

**Additional context**
This breaking change was introduced in `barryvdh/laravel-ide-helper` 2.9.2: https://github.com/barryvdh/laravel-ide-helper/commit/f0c138c4fdb32b2f30362a7f8bc08e2a96cf9c20 (in https://github.com/barryvd

[2021-04-02 19:37] caugner commented on #137
See also  #136.

[2021-04-08 10:46] #132 closed

[2021-04-08 10:52] brendt opened #139 "Support for custom models file"
I'm not sure why, but with certain versions of this plugins things stop working. Especially when it comes to model properties not being found.

I would like to suggest a feature where you can instruct psalm to use the existing models files, instead of generating a new one on the fly.

I had a look at `\Psalm\LaravelPlugin\Plugin::ingestModelStubs` and thing the feature wouldn't be that difficult t

[2021-04-13 13:42] yaegassy opened #140 ""psalm-language-server" repeats infinite startup attempts in case of "Failed to load plugin Psalm\LaravelPlugin\Plugin""
## Describe the bug

The problem occurs when `psalm/plugin-laravel` is "enabled" and there is code that causes a PHP Parse error.

Is there any way to solve this problem?

## Impacted Versions

[code]

## Additional context

### Reproduction Procedure

[code]

Add code that will intentionally cause a PHP Parse error.

**e.g.** `app/Models/User.php`

[code]

If you run psalm in this state, it will

[2021-04-16 00:00] mr-feek commented on #140
Thanks for the great writeup! I'd love to encourage you to PR yourself, as I don't really work with Laravel anymore unfortunately.

I bet the problem is something to do with us booting up laravel ide helper. I bet a type error is being emitted here: https://github.com/psalm/psalm-plugin-laravel/blob/master/src/Plugin.php#L36-L38

Running psalm with xdebug enabled and setting up some breakpoints is

[2021-04-16 00:01] mr-feek commented on #139
Hey @brendt !

I'm sorry but I don't really work with Laravel much anymore at the dayjob, so I don't have much incentive to dig into this.

I can say that I really wanted the ability for this plugin to not rely on ide-helper. I think an option to not generate ide-helper stuff would be great. Would be very happy to merge a PR doing this!

[2021-04-16 03:17] yaegassy commented on #140
@mr-feek

Thanks reply. There seems to be an error in `$app = ApplicationHelper::bootApp();`.

- <https://github.com/psalm/psalm-plugin-laravel/blob/master/src/Plugin.php#L28>

For example, what do you think about using `try/catch` to handle "early returns"?

[code]

[2021-04-16 03:34] brendt commented on #139
Awesome, can you point me to a guide or something that explains best practices for psalm plugin development?

[2021-04-17 20:19] #140 closed

[2021-04-21 11:04] salfum opened #142 "Plugin does not work with ide-helper version older than 2.9.1 in my case"
**Describe the bug**
Psalm check failed, details in spoilers below depending on ide-helper version. The psalm and plugin-laravel versions do not change. In version 2.9.1, the psalm check was successful.
Apologies in advance for my english.
What needs to be done for the plugin to start working with ide-helper 2.10.0 ?
Adding a ': callable' calls 'Failed to load plugin Psalm\LaravelPlugin\Plugin at

[2021-04-21 11:25] salfum commented on #142
Sorry, I saw late in the release description that barrivdh broke semantic versioning. I close the issue.

[2021-04-21 11:25] #142 closed

[2021-04-24 11:40] roberto-butti opened #143 "support for PHP 7.4"
**Describe the bug**

After installing psalm laravel plugin:
[code]
I'm not able to use my app on php7.4.
I think this is due to some dependencies with spatie/macroable (where the support for php 7.* was dropped),
With php8 it works like a charm.
The question is : psalm/plugin-laravel needs php8 ?
Watching the composer of psalm/psalm-plugin-laravel is see:
[code]

**Impacted Versions**
[code]
Abou

[2021-04-24 19:13] roberto-butti commented on #143
To fix locally the issue, in my laravel application i set config.platform.php as 7.4.
[code]
with this configuration in my composer.json, i running "composer update":
[code]

[2021-04-27 00:33] mr-feek commented on #143
Nope, we only need >= 7.3 !

I think the solution you came up with is the correct one here.

[2021-04-27 00:33] #143 closed

[2021-04-27 04:42] JC5 commented on #142
How did you solve this?

[2021-04-27 04:57] roberto-butti commented on #143
Thank you for the answer!

[2021-05-01 12:39] salfum commented on #142
You need to downgrade version of ide-helper to 2.9.1

[2021-05-01 21:02] #128 closed

[2021-05-26 16:39] caugner opened #144 "PropertyNotSetInConstructor + NonInvariantDocblockPropertyType for new commands (`artisan make:command`), notifications (`artisan make:notification`) and requests (`artisan make:request`)"
**Describe the bug**

When I create a new command using `artisan make:command`, I get the following errors:

[code]

**Impacted Versions**

[code]

**Additional context**
For now, my workaround is
* adding `@psalm-suppress PropertyNotSetInConstructor` to the command class' doc block, and
* changing `@var string` to `@var string|null` for the `protected $description` property.

However, this is a b

[2021-05-26 16:43] caugner commented on #144
As for the `NonInvariantDocblockPropertyType` error, this looks like a phpdoc bug in [laravel/framework](https://github.com/laravel/framework/) to me: `description` is never really `null`, because it is always set via `setDescription()` in [Illuminate\Console\Command::__construct()](https://github.com/laravel/framework/blob/235e52a3104edf2d8ba8c2119caa3d0ed971cfdc/src/Illuminate/Console/Command.ph

[2021-05-28 18:22] giraz82 opened #145 "Could not get class storage for eloquent"
**Describe the bug**
Running Psalm with `--debug-by-line` on a Laravel 8 project I get:
[code]
Ofc I have the issue also without `--debug-by-line`.

**Impacted Versions**
[code]

**Additional context**
`User.php` is the standard user class that comes with every fresh new project.

I tried to remove psalm and psalm/plugin-laravel, clear the cache, and I get the same `Could not get class storage for

[2021-06-07 15:52] eithed opened #146 "Properties using foreignUuid omitted from stub"
**Describe the bug**

For a class with following migration:

[code]

following _ide_helper_models.php is generated:

[code]

and following models.stubphp is generated:

[code]

thus triggering `Magic instance property App\Models\BoundPolicyTransaction::$bound_policy_id is not defined`.

As a workaround one can replace the migration syntax with:

[code]

which will correctly include the fields in m

[2021-06-09 17:59] mr-feek commented on #146
I'll happily merge a PR fixing this @eithed ! My gut feeling is that we might be overriding the command method that generates the foreign uuid properties

[2021-06-09 19:30] eithed commented on #123
In case of @azurinspire this is caused by the same bug as in https://github.com/psalm/psalm-plugin-laravel/issues/146

A workaround is to replace:

[code]

within migration with:

[code]

This creates same column.

Afterwards looking at `models.stubphp` one can find that stub was correctly generated

[code]

[2021-06-12 14:26] dionysiosarvanitis commented on #130
Alternatively, maybe `orchestra/testbench`  can be changed to `orchestral/testbench-core`. If this is all that it needs we can avoid loading unnecessary dependencies as it is pointed at https://github.com/orchestral/testbench/discussions/301#discussioncomment-474185

[2021-06-13 12:25] eithed commented on #146
@mr-feek created a PR fixing this https://github.com/psalm/psalm-plugin-laravel/pull/150

[2021-06-14 19:16] #146 closed

[2021-06-15 11:28] Ilyes512 commented on #145
I get a similar error except for `illuminate\foundation\application`. It might be related so I decided to add it here instead of creating a new issue (I hope that is okey)

[code]

Using php version 8.0.7:

[code]

I am using this in a Laravel library using [orchestral/testbench](https://github.com/orchestral/testbench).

[2021-06-15 18:51] mr-feek commented on #145
@Ilyes512 I may have just resolved your issue with https://github.com/psalm/psalm-plugin-laravel/pull/152 -- but if not, can you please open a new ticket? It's a bit different than this issue

[2021-06-15 18:52] mr-feek commented on #145
@giraz82 could you please share some code that is triggering the issue? For example, what is referencing `Eloquent` ?

[2021-06-15 18:56] mr-feek commented on #144
Am I correct in understanding that you got this fixed upstream in laravel? Anything left to do here?

[2021-06-16 08:41] caugner commented on #144
@mr-feek I was only able to fix the `NonInvariantDocblockPropertyType` error upstream, not the `PropertyNotSetInConstructor` errors. 😕

1. To test this, could we run `artisan make:command Example` and assert that Psalm does not find any errors afterwards, or do we have to add such an `Example[Command]` as a stub (which is less flexible, becaus it doesn't take into account changes to the `make:comm

[2021-06-16 15:07] caugner commented on #144
I just created my first `FormRequest` (`php artisan make:request ExampleRequest`) and it caused similar errors:

[code]

[2021-06-16 15:41] caugner commented on #145
I'm experincieng similar issues recently, and it just popped up again:

[code]

Clearing the cache with `psalm --clear-cache` solves the issue.

[2021-06-16 16:51] mr-feek commented on #145
could you please share some code to reproduce @caugner

[2021-06-16 17:54] mr-feek commented on #91
I'm no longer able to reproduce this, I'm going to close this as resolved.

[2021-06-16 17:54] #91 closed

[2021-06-16 18:43] mr-feek commented on #110
i've started digging through this again, and interestingly enough if we don't register stubs in this plugin, the error isn't reproducible. I'll keep digging as to _why_

[2021-06-16 20:50] mr-feek commented on #110
I just pushed a [commit](https://github.com/psalm/psalm-plugin-laravel/commit/0d84139e1189dcb18e1c9cb5dd0c09a04b7c3d55) to force the scanning of `illuminate\support\facades\ratelimiter` and it fixes the case that @ppmathis kindfully put together.

This certainly is not a "longterm fix", but moreso a hack to get around the problem as I don't know how to fix the root cause.

Please provide any more

[2021-06-18 06:50] bramceulemans opened #153 "Mismatched function signatures"
**Describe the bug**

When running Psalm with the Laravel plugin enabled, this error occurs:

[code]

**Impacted Versions**
Please paste the output of `composer show | grep -E 'psalm|laravel'` so we can see what versions are impacted

[code]

[2021-06-18 11:01] giraz82 commented on #145
@mr-feek in my case, it's just the standard `User` class that comes with Laravel:

[code]
Nothing special as you can see.
But I think that the behaviour is quite random and not related to a specific class nor block of code.
I launched again psalm in this project (I needed to comment out it to proceed in my project) and now I'm getting the same error but on a different place:
[code]

Also here `Aut

[2021-06-21 12:18] caugner commented on #145
Here's another one:

[code]

Running it again yielded the same error.

[2021-06-21 20:52] mr-feek commented on #153
@bramceulemans this is due to a breaking change in ide-helper. You need to downgrade ide-helper to one listed within the constraint here: https://github.com/psalm/psalm-plugin-laravel/blob/master/composer.json#L8

See https://github.com/barryvdh/laravel-ide-helper/pull/945#issuecomment-815106805

[2021-06-21 20:52] #153 closed

[2021-06-21 21:08] mr-feek commented on #94
gonna close this, it was an upstream bug

[2021-06-21 21:08] #94 closed

[2021-06-21 22:05] bramceulemans commented on #153
Alright, any hope on fixing this in the future?

[2021-06-21 22:11] mr-feek commented on #153
It's really up to ide-helper, they're the ones who created the breaking change in a non-major version release

[2021-06-21 22:45] mr-feek commented on #145
Opened https://github.com/vimeo/psalm/issues/5971 upstream

[2021-06-22 07:27] caugner commented on #144
There are also `PropertyNotSetInConstructor` warnings when extending `Illuminate\Foundation\Testing\TestCase`:

[code]

[2021-06-22 09:21] caugner opened #155 "[8.x] Support new Model::factory() syntax"
**Is your feature request related to a problem? Please describe.**
The new Laravel 8 factory syntax is not yet supported, so Psalm cannot determine the type of `User::factory()->make()` or `User::factory()->count(2)->make()` (which is equivalent to `User::factory(2)->make()`).

For a `App\Models\User` model, factories are now defined as follows:

* the `HasFactory` trait is used in the `User` clas

[2021-06-23 10:59] mr-feek commented on #155
Feel free to make a PR, I don't have any apps on laravel 8 yet

[2021-06-23 16:40] caugner opened #156 "[8.x] allow firstOrCreate() and firstOrNew() without parameters"
**Describe the bug**
Laravel 8.0 has made the `$attributes` parameter of `Builder::firstOrCreate()`, `HasOneOrMany::firstOrCreate()` and `HasOneOrMany::firstOrNew()` optional in https://github.com/laravel/framework/commit/f8fd88fae5234a739e0146db31a2282f18716f8b, but the plugin stubs still require it:

* https://github.com/psalm/psalm-plugin-laravel/blob/6950a9a4e6bc2293b82cf350fb82b994869dd48a/st

[2021-06-23 17:10] caugner opened #158 "MorphOne causes TooManyTemplateParams"
**Describe the bug**
Defining the inverse side of a polymorphic many-to-many relationship with `HasRelationships::morphOne` causes the following Psalm error:

[code]

**Impacted Versions**
[code]

**Additional context**
It looks like the `stubs/MorphOne.stubphp` is missing.

[2021-06-24 03:04] #158 closed

[2021-06-29 03:53] mr-feek commented on #145
I think https://github.com/psalm/psalm-plugin-laravel/commit/b287a0ad17f5086eb40fbc1c481768fe24588950 should help resolve these issues.

[2021-06-29 03:54] mr-feek commented on #110
I just pushed another fix -- https://github.com/psalm/psalm-plugin-laravel/commit/b287a0ad17f5086eb40fbc1c481768fe24588950

I'm going to mark this issue as closed. Thank you for the reproducer @ppmathis , it was very helpful. If anyone else runs into a similar issue, please open a new issue with a reproducer so I can debug it

[2021-06-29 03:54] #110 closed

[2021-06-29 03:54] mr-feek commented on #145
I'm going to close this -- **please open a new ticket with code to reproduce if you run into any more issues**

[2021-06-29 03:54] #145 closed

[2021-06-29 03:57] mr-feek commented on #119
Just merged what I believe is a fix for `optional`

[2021-06-29 03:57] #119 closed

[2021-06-29 04:17] mr-feek commented on #137
I'm gonna close this for now and say that we only support `"barryvdh/laravel-ide-helper": ">=2.8.0 <2.9.2"`. I'm working on removing ide-helper completely at the moment.

[2021-06-29 04:17] #137 closed

[2021-06-29 04:27] mr-feek commented on #103
fixed here https://github.com/psalm/psalm-plugin-laravel/commit/afa414452329f721048ac2d05707f0554a9d5e0b

[2021-06-29 04:27] #103 closed

[2021-06-29 04:29] mr-feek commented on #123
I think this should be fixed now -- please reopen with code to reproduce if you are still experiencing a problem.

[2021-06-29 04:29] #123 closed

[2021-06-29 10:23] caugner commented on #145
@mr-feek Will you release a new minor version soon? I will test and report back then, because our Psalm runs fail consistently.

[2021-06-29 14:18] mr-feek commented on #145
@caugner in the mean time try using dev-master! Or else invoke CI with `--no-cache`. I'm hoping to have a new minor version out in the next week or so.

[2021-06-29 16:06] mr-feek opened #161 "Support for logger helper"
**Is your feature request related to a problem? Please describe.**
the logger helper should always return an instance of `\Illuminate\Log\LogManager` when one parameter is supplied.

[code]

**Describe the solution you'd like**
A stub should work fine

[2021-06-30 18:53] caugner commented on #145
@mr-feek I'm still experiencing the same issue with da4e6bc:

[code]

[2021-06-30 21:16] mr-feek commented on #145
I'm afraid I can't really help without a reproducer -- I haven't run into this specific issue at all

[2021-06-30 22:05] caugner commented on #145
Alright, I will run Psalm directly via PhpStorm from now on, with Xdebug enabled and a breakpoint set in that line 43. Hopefully I can reproduce the issue with that setup, so that I can dig a bit in the debug state to see what's going on and why the class is missing in the storage.

[2021-07-04 17:45] #161 closed

[2021-07-04 17:51] mr-feek commented on #26
I added a test case for this and wasn't able to reproduce the issue -- feel free to reopen if you think I missed something! https://github.com/psalm/psalm-plugin-laravel/commit/402ad732442051fd8ba4a7f1c56321a178c3d229

[2021-07-04 17:51] #26 closed

[2021-07-04 17:58] mr-feek commented on #115
I wasn't able to reproduce this in the test suite -- it should be working fine from what I can tell https://github.com/psalm/psalm-plugin-laravel/commit/fbf40a7f19f4e98fba6fefc60284d9fd8ecc12d9

[2021-07-04 17:58] #115 closed

[2021-07-04 18:05] mr-feek commented on #129
I wasn't able to reproduce this in the test suite: https://github.com/psalm/psalm-plugin-laravel/commit/997c3e61447c3a05c219e4fc62a50e707fc0a55b

I believe this may be resolved now. Please reopen if you think I'm incorrect!

[2021-07-04 18:05] #129 closed

[2021-07-04 18:15] mr-feek commented on #131
There's definitely a bug here, but I'm not sure where 🤔 I wasn't able to reproduce it on psalm https://psalm.dev/r/986d040e93

[2021-07-04 18:21] mr-feek commented on #131
Ah, I was able to reproduce it with this https://psalm.dev/r/c0b1d829d4

[2021-07-04 18:27] mr-feek commented on #131
Opened an issue upstream here: https://github.com/vimeo/psalm/issues/6046

[2021-07-04 19:06] mr-feek commented on #131
For now, use `@var Collection $collection` to work around this

[2021-07-04 19:06] #131 closed

[2021-07-05 09:13] caugner opened #165 "Composer test fails on Windows: "Failed to parse output: /usr/bin/env: ‘php\r’: No such file or directory""
**Is your feature request related to a problem? Please describe.**
I tried to `composer install` and run `composer test`, but this doesn't seem to be sufficient for running the tests (as it doesn't install Laravel). The README doesn't mention how to run these tests either.

**Describe the solution you'd like**
The README should describe how to run the tests locally (or more generally, how to contr

[2021-07-05 15:04] mr-feek commented on #165
Hey! I agree there could be some more documentation around contributing. There is a lot of overhead to be able to contribute to static analyzers.

---

Composer install and composer test should be all that is required to run tests locally. Could you describe a little bit more about what doesn't work when you do that?

[2021-07-05 15:21] caugner commented on #165
Ah, you're right. This is related to #166:

[code]

[2021-07-05 16:05] caugner commented on #165
**Results**:

1. Don't set `git config --global core.autocrlf true` inside WSL2, but set `git config --global core.autocrlf input` instead.
2. Don't bother running Psalm directly on Windows (see https://github.com/psalm/psalm-plugin-laravel/pull/166#issuecomment-874212732).

[2021-07-05 16:05] #165 closed

[2021-07-06 10:37] kiwina commented on #145
Not sure that running it over PhpStorm will help. I'm seeing Could not get class storage for illuminate\support\facades\paralleltesting as well on a pretty much fresh setup

[2021-07-07 15:18] caugner commented on #144
[Notifications](https://laravel.com/docs/8.x/notifications#generating-notifications) are also affected by this.

[2021-07-09 09:28] caugner opened #179 "Model.stubphp doesn't implement interfaces"
**Describe the bug**
The abstract `Model` class implements several interfaces, and so does the `Model.stubphp`:

https://github.com/psalm/psalm-plugin-laravel/blob/28b697a39aa96986733aae79415bfd776306436f/stubs/Model.stubphp#L17

However, `Model.stubphp` doesn't implement them. This causes PhpStorm inspection errors ("General" > "Class hierarchy checks") on classes extending `Model`:

[code]

**Im

[2021-07-09 13:36] caugner commented on #134
Here is a

<details>
<summary>list of 1262 keys that <tt>self::$storage</tt> has when the error occurs</summary>

See sorted version below:

[code]

Ordered alphabetically:

[code]

</details>

Only three facades are in the storage: 🤔

[code]

[2021-07-09 13:46] caugner commented on #134
Stacktrace:

[code]

Here is the state:

[code]

[2021-07-09 13:55] caugner commented on #134
That's actually not the right stacktrace, because at `Populator.php:123` the `\InvalidArgumentException` is caught.

Here's the right stacktrace:

[code]

State:

[code]

[2021-07-09 13:59] caugner commented on #134
Both `$this->storage` and `$this->new_storage` contain `illuminate\cache\ratelimiter`, but none contains `illuminate\support\facades\ratelimiter`.

By the way, `Illuminate\Support\Facades\RateLimiter` is referenced in `app/Providers/RouteServiceProvider.php`.

@mr-feek Does this help in any way to track down the issue?

[2021-07-09 14:13] caugner commented on #134
I have another theory: We use Dependabot to update our dependencies on a daily basis. This also means that `laravel/framework` gets updated regularly. Maybe Psalm gets confused by the changing timestamp in the `vendor/laravel/framework` directory. This wouldn't explain why it happens to `Illuminate\Support\Facades\RateLimiter` though.

[2021-07-09 14:35] caugner commented on #134
**Here's an important difference** of the `RateLimiter` facade: In contrast to most of the other facades, that facade is NOT listed in the `config/app.php`:

https://github.com/laravel/laravel/blob/1e4312f20755302bb4d275d9385968e9b6e63eab/config/app.php#L191-L231

This also means it won't be listed in the `stubs.stubphp` generated by the `FacadeStubProvider` via `ide-helper:generate`.

[2021-07-09 16:27] #144 closed

[2021-07-09 16:29] mr-feek commented on #179
How come phpstorm is interpreting these classes? They intentionally don't end in `.php` to prevent this!

https://psalm.dev/docs/running_psalm/plugins/authoring_plugins/#stub-files

[2021-07-09 18:17] caugner commented on #179
I must have configured `*.stubphp` to be recognised as PHP when I was working on the PRs, and wasn't aware that this affects all projects. 🤦

![grafik](https://user-images.githubusercontent.com/495429/125120137-594f2a80-e0f2-11eb-9116-9d435bc22437.png)

[2021-07-09 18:18] caugner commented on #179
Closing this, asremoving that file name pattern again resolved the issue for me.

[2021-07-09 18:18] #179 closed

[2021-07-13 09:21] caugner commented on #53
Currently, these are the errors that `--find-unused-code` are found:

## Laravel

`./tests/laravel-test.sh` with `--find-unused-code --no-cache`

[code]

## Lumen

`./tests/lumen-test.sh` with `--find-unused-code --no-cache`

[code]

[2021-07-13 09:41] caugner commented on #53
IMO we can leave these errors in Lumen, because afaik those are *actually* unused in a fresh Lumen project:

[code]

[2021-07-13 09:58] caugner commented on #139
@brendt Can you please elaborate:

1. What is your environment? Please provide the output of: `composer show | grep -E 'psalm|laravel'`
2. What exactly stopped working? Please post the output of a Psalm run with the latest version of both `vimeo/psalm` and `psalm/plugin-laravel`.

Thank you! 🙏

[2021-07-13 10:02] caugner commented on #7
@deleugpn I'm wondering if you still have this issue?

If so, I would recommend checking if you could declare your request attributes as `@property`s (that's how I do it):

[code]

PS: Make sure to enable `usePhpDocPropertiesWithoutMagicCall="true"` in your `psalm.xml.dist` (or `psalm.xml`).

[2021-07-13 10:04] caugner commented on #127
Duplicate of #158, and fixed by #159.

@riasvdv Please try upgrading `psalm/plugin-laravel` to 1.4.8 or later.

[2021-07-13 10:07] #127 closed

[2021-07-13 10:08] caugner commented on #120
@maximal @CharlieTap @luisgrases Can you report if the problem still occurs with latest `vimeo/psalm` (4.8.1) and `psalm/plugin-laravel` (1.4.9)? If it does, please share your current output of: `composer show | grep -E 'psalm|laravel'`

[2021-07-13 11:05] caugner commented on #7
I'm sorry to hear that, but maybe you might want to give it another try in about one month?

These days, I have resolved a couple of annoying issues, and I'm committed to fixing any other issues you will have.

[2021-07-13 13:04] caugner opened #184 "Use config('auth.providers.user') for return type of Auth::user() and Request::user()"
**Is your feature request related to a problem? Please describe.**

According to PHPDoc:

* `Illuminate\Support\Facades\Auth::user()` returns `\Illuminate\Contracts\Auth\Authenticatable|null`
* `Illuminate\Http\Request::user()` returns `mixed`

However, if `providers.users.driver` is set to `eloquent` in `config/auth.php`, they return the model configured in `providers.users.model`, which [default

[2021-07-13 16:29] mr-feek commented on #184
Huh, I thought ide-helper already provided this functionality!

[2021-07-13 16:39] #53 closed

[2021-07-13 17:41] #156 closed

[2021-07-13 18:36] eiriarte-mendez opened #186 "FakeMetaCommand::registerClassAutoloadExceptions() not compatible anymore"
**Describe the bug**
Running psalm causes following error:

[code]

**Impacted Versions**
[code]

**Additional context**

Apparently the signature of the parent class changed and now returns a `callable`

[2021-07-13 19:50] mr-feek commented on #186
`2.12.0` of ide-helper is not supported due to a breaking change on their end. you need to downgrade it https://github.com/psalm/psalm-plugin-laravel/blob/master/composer.json#L19

[2021-07-13 19:50] #186 closed

[2021-07-14 08:56] maximal commented on #120
@caugner, on my test project the problem persists. On my real project I changed the queries’ structure to pass psalm checks.

[code]

[2021-07-14 14:27] tm1000 opened #187 "Rereview #154"
In #154 it was stated that newer versions of ide helper (greater than 2.9.2) would not be supported  because they dropped support for laravel 6 and 7. 21 hours ago #185 was merged which removes support for laravel 7 in this package. So isn't that point moot now. This package itself only supports laravel 8 so shouldn't it be made compatible with the newest ide helper if that was the reason holding

[2021-07-14 15:52] mr-feek commented on #187
This package supports Laravel 6, the LTS version

[2021-07-14 15:54] tm1000 commented on #187
Ah right

[2021-07-14 15:54] #187 closed

[2021-07-16 20:54] caugner opened #190 "Support hasMany(...)->orderBy()"
**Describe the bug**

The following causes both `MixedInferredReturnType` and `MixedReturnStatement`.

[code]

Same for `->orderByDesc('updated_at')` (which doesn't work, while `->latest()` does).

**Impacted Versions**
[code]

**Additional context**
(None.)

[2021-07-16 21:37] caugner commented on #190
Seems to be a known issue:

https://github.com/psalm/psalm-plugin-laravel/blob/723221a6c28676717adc53f02136790de1c4a161/tests/acceptance/EloquentRelationTypes.feature#L335-L348

[2021-07-16 21:50] caugner commented on #190
And here's the related commit by @mr-feek: 71360de9cb12cd63a968d32c27e95b001097664e

[2021-07-16 22:22] caugner commented on #190
According to a local `git bisect`:

[code]

[2021-07-16 22:52] caugner commented on #190
It looks like the `MethodReturnTypeProviderInterface` is called with different parameters:

**Previously**, the `$method_name_lowercase` was `orderby`, but now it's `__call`, which causes these `->methodExists` to both return `false`:

https://github.com/psalm/psalm-plugin-laravel/blob/723221a6c28676717adc53f02136790de1c4a161/src/Handlers/Eloquent/RelationsMethodHandler.php#L60-L61

Accordingly, t

[2021-07-16 23:01] caugner commented on #190
`$method_name_lowercase` comes from here:

https://github.com/psalm/psalm-plugin-laravel/blob/723221a6c28676717adc53f02136790de1c4a161/src/Handlers/Eloquent/RelationsMethodHandler.php#L52

[code]

[2021-07-16 23:21] caugner commented on #190
I dumped a bit and found that the `Psalm\Internal\Analyzer\Statements\Expression\Call\Method\AtomicMethodCallAnalysisResult` actually has two `existent_method_ids`:

[code]

So maybe Psalm thinks that `orderby` actually exists, so our checks fail. 🤔

[2021-07-19 18:07] maximal commented on #120
@caugner, I could share the test project with you if you wish.

[2021-07-20 08:22] vanthao03596 opened #192 "Method Illuminate\Contracts\Validation\Validator::validateWithBag does not exist"
**Describe the bug**
When run ./vendor/bin/psalm i have this error

**Impacted Versions**
barryvdh/laravel-debugbar             v3.6.2
barryvdh/laravel-ide-helper           v2.9.1
fruitcake/laravel-cors                v2.0.4
laravel/fortify                       v1.7.14
laravel/framework                     v8.50.0
laravel/sail                          v1.8.6
laravel/tinker

[2021-07-20 08:24] vanthao03596 commented on #192
More infomation: Error show in UpdateUserPassword.php and UpdateUserProfileInformation.php from laravel/fortify

[2021-07-26 15:23] eithed opened #193 "Custom phpdoc getting removed"
**Is your feature request related to a problem? Please describe.**
When investigating an issue that was ultimately reported on https://github.com/barryvdh/laravel-ide-helper/issues/1236 I've found that, within psalm plugin, `php artisan ide-helper:models` command is run with `'--reset' => true,` parameter, thus removing phpdoc blocks that are provided ie within `ModelStubProvider::generateStubFile

[2021-07-26 20:38] mr-feek commented on #193
cc @caugner who added the --reset functionality here: https://github.com/psalm/psalm-plugin-laravel/pull/170

[2021-07-31 23:42] ppmathis commented on #139
I'll throw in another reason why using a pre-generated helper file would be useful: I am using Laravel Sail for my local development environment, so there is no direct access to the database unless I would explicitly forward the specific Docker container.

When I initially tried to use this plugin in a Sail project, I was wondering why Psalm did not seem to get any kind of model stubs whatsoever a

[2021-08-02 16:55] mr-feek commented on #139
PRs welcome!

[2021-08-03 10:43] brendt commented on #139
@caugner the issue is from a while back, so I don't remember any more details than the ones provided here. It doesn't really matter to me though: all these problems would be solved if I could manually specify a pregenerated ide helper file. I think @ppmathis came up with another good use case.

Like I said I'm able to contribute some time to PR this, but I'd like some pointers to where to start, m

[2021-08-03 21:00] mr-feek commented on #139
I believe we would need 2 configuration options -- one for the path to the models file and one for the path to the facades file.

The symfony plugin supports config options, so we could likely use them to model our implementation https://github.com/psalm/psalm-plugin-symfony#configuration

[2021-08-06 09:03] caugner commented on #193
Hm, I'm experiencing the same issue, where the plugin (or ide-helper) doesn't automatically create `@property` annotations for relationships, an adding those annotations manually doesn't solve the issue (because custom PHPDoc is not copied over to the model stubs, as per #170).

Unfortunately this is a dilemma, and the only solution I can see would be if the model stub generation (by ide-helper) w

[2021-08-06 23:11] tm1000 commented on #120
I've got the same issue as the others now. Is the issue in

It always comes from the same file as the others:
[code]

Is it an issue with query joins?

[2021-08-10 20:29] tm1000 commented on #120
Unsure why this is but if I use my own forked repo  (with patches for ide-helper) it works fine: https://github.com/tm1000/psalm-plugin-laravel/tree/patch-1

[2021-08-10 21:18] tm1000 commented on #120
This fully resolved for me once I declared my model properties (https://github.com/barryvdh/laravel-ide-helper#automatic-phpdocs-for-models) and additionally set `throwExceptionOnError="true"` and fixed all errors that were thrown.

Then I was able to remove `throwExceptionOnError="true"` and all is good

Im thinking the loop is mainly in the models. Once I declared the properties then Psalm doesn

[2021-08-13 17:49] neclimdul commented on #186
@mr-feek Is there an issue in one project or the other for resolving the break and supporting future versions?

[2021-08-30 13:56] MaartenStaa opened #196 "Upgrade of psalm/plugin-laravel requires downgrade of barryvdh/laravel-ide-helper"
**Describe the bug**
The dependant version of barryvdh/laravel-ide-helper seems to be stricter than necessary. It is set to `>=2.8.0 <2.9.2`. Possibly version 2.9.2 contained a bug? By now, the IDE helper package is at version 2.10.0, so an upgrade of the Psalm plugin would require a downgrade of the IDE helper package.

**Impacted Versions**
Version 1.5.x

**Additional context**

[code]

[2021-08-30 21:47] tm1000 commented on #196
See: https://github.com/psalm/psalm-plugin-laravel/pull/154

[2021-09-02 10:16] eithed commented on #193
@caugner I don't understand what you mean. Didn't you add `'--reset' => true,`? This actually prevents the annotations from being copied from the stubs generated by barryvdh/laravel-ide-helper

[2021-09-02 13:41] rabol opened #197 "ERROR: ReservedWord"
**Describe the bug**
while running psalm with the laravel plugin enabled I get the following error:

[code]

**Impacted Versions**
Please paste the output of `composer show | grep -E 'psalm|laravel'` so we can see what versions are impacted
[code]

**Additional context**
Add any other context about the problem here.

[2021-09-03 08:05] caugner commented on #193
@eithed So the reason I added `'--reset' => true` was that `barryvdh/laravel-ide-helper` does *not* copy the imports corresponding to the annotations, so if you use an imported type in one of your annotations, Psalm will always report that this type does not exist in the namespace of your model (because it doesn't, the import is just missing).

[2021-09-03 11:13] eithed commented on #193
Ah, I see, thank you for the explanation - in my case I've used the class name including namespace hence it would work, but I can see now why that will not always be the case.

I guess the solution is to either:
- always use full class names in phpdoc thus allowing to remove `--reset` (impractical, people won't do this)
- resolve class name to full class name in `barryvdh/laravel-ide-helper`
- res

[2021-09-14 22:26] jpresutti commented on #187
Laravel 6 is EOL as of 11 days ago. @mr-feek I would really like to use this on a project that is using a newer version of the ide helper.

[2021-09-15 15:50] caugner opened #199 "Support $this->attributes in Model"
Example:

[code]

[2021-09-15 18:38] #196 closed

[2021-09-15 18:39] mr-feek commented on #187
@jpresutti laravel 6 is the LTS version, which has bug fixes until September 3rd, 2022

[2021-09-16 13:09] jpresutti commented on #187
That is incorrect. Bug fix support ended Sept 3rd. It is security fixes only.
![Screenshot_20210916-090642_Samsung Internet](https://user-images.githubusercontent.com/6835477/133617624-81d04d93-13f8-43e3-b3bc-275e678bff89.jpg)
Read the docs.

https://laravel.com/docs/6.x/releases

By not having a version line that supports the newer version of ide helper you are locking out a LOT of projects. If y

[2021-09-16 14:12] tm1000 commented on #187
Agree with this ^

Also he's not the only one to request it working with newer ide helper

[2021-09-16 15:23] mr-feek commented on #187
@tm1000 @jpresutti like I've said a bunch, if you can resolve this issue while still supporting laravel 6 then I will gladly merge a PR

[2021-09-16 16:25] jpresutti commented on #187
@mr-feek did you actually read the part where you are liliterally wrong about Laravel 6 still getting bug fixes?

[2021-09-16 16:26] mr-feek commented on #187
@jpresutti would you like me to apologize for a typo? I meant security fixes. Are you actually wasting your time being rude to someone who spent hundreds of hours making this open source package, instead of taking the time to propose a fix?

[2021-09-16 16:27] mr-feek commented on #187
@jpresutti fork it, you're on your own for being a jerk to open source maintainers.

[2021-09-16 16:31] jpresutti commented on #187
It... it was a serious question. That being said, I'm actually wrong. They pushed it back till January even tho 9 is LTS so I'll see myself out.

[2021-09-16 16:32] mr-feek commented on #187
Or you know, spend 20 minutes making a PR to support both versions. You know, read the docs @jpresutti https://www.php.net/

[2021-09-16 16:36] jpresutti commented on #187
The whole point of things like Laravel 6,7,8 etc is so there can be multiple supported versions. Your "there can be only one version line" approach is costing users the ability to use the library. The same for there being PHP 7.3, 7.4 and 8 all active at the same time. Again, I was being serious and not trying to be a jerk, and I also said I was wrong on the date because they updated one doc and n

[2021-09-16 16:44] mr-feek commented on #187
PRs welcome

[2021-09-16 17:13] tm1000 commented on #187
I don't think it's possible to do this because the issue is they changed method properties in ide helper. This project would have to have two active versions.

[2021-09-16 18:41] mr-feek commented on #187
@tm1000 a simple version_compare and substituting this package's bindings should suffice

[2021-09-16 18:42] mr-feek commented on #187
I started sketching it out, feel free to finish it https://github.com/psalm/psalm-plugin-laravel/tree/support-newer-ide-helper

[2021-09-17 17:11] tm1000 commented on #120
I've gone through five projects now where typing out the models (like above) fixed this in every case.

[2021-09-23 17:47] caugner opened #200 "Eloquent\Builder::find() may return null"
**Describe the bug**

Laravel: https://github.com/laravel/framework/blob/6216534f14c7cb8bdfa213e5f7e3d357119a4579/src/Illuminate/Database/Eloquent/Builder.php#L377-L391

Plugin: https://github.com/psalm/psalm-plugin-laravel/blob/51879f2c0ed0f32766a18e8d27e6ba71650331dd/stubs/EloquentBuilder.stubphp#L118-L124

**Impacted Versions**

[code]

**Additional context**
Will submit a PR in a minute.

[2021-09-23 18:19] caugner opened #202 "Test failure (factory(): can use factory helper in Laravel 6.x and 7.x)"
**Describe the bug**
[code]

**Impacted Versions**
❌ PHP 7.3 | Illuminate 6.* | Composer Flags (broken)
✔ PHP 7.3 | Illuminate 6.* | Composer Flags --prefer-lowest (works)

**Additional context**
(None.)

[2021-09-23 18:47] caugner commented on #202
I'm not sure, but since there were no relevant changes in Laravel 6.x, maybe something changed in the way Psalm behaves?

Relevant changes: https://github.com/vimeo/psalm/compare/0317f1d...82b3564

[2021-09-29 17:19] #200 closed

[2021-09-29 17:20] mr-feek commented on #202
yeah, haven't had a time to dig in but I agree something in psalm broke this behavior. https://github.com/psalm/psalm-plugin-laravel/pull/194#issuecomment-921094854

[2021-10-13 07:26] tminich opened #204 "Support current laravel-ide-helper"
**Is your feature request related to a problem? Please describe.**
We've just updated our cuurent project to Laravel 8 and PHP 8, two of the main reasons were to be able to use Psalm efficiently and update laravel-ide-helper to support hooks (a feature introduced in 2.9.2) which will be important to remove certain workarounds in our internal tooling. This plugin would lock us to a version that doe

[2021-10-13 19:49] mr-feek commented on #204
Feel free to finish the pr i sketched out https://github.com/psalm/psalm-plugin-laravel/issues/187#issuecomment-921151991

I don't personally have the need for this, so it hasn't been a priority of mine.

[2021-10-15 13:30] Falabu opened #205 "Missing stub for EloquentBuilder "when" method for Laravel version 8,"
Currently, there is no stub for Laravel 8's EloquentBuilder "when" method and psalm showing error, when trying to call it with a second parameter.

`TooManyArguments - Too many arguments for method Illuminate\Database\Eloquent\Builder::with - saw 2`

From version 8 it's support a second parameter as a Closure.

https://github.com/laravel/framework/commit/c05334d29904551fe185a7f50839f37ebe2ff230

S

[2021-11-23 14:17] borgogelli commented on #120
@tm1000 please could you explain better how you solved it ? What do you mean by "typing out" ?
Can you tell us how you solved it?

[2021-11-23 14:35] tm1000 commented on #120
@borgogelli read my comment right before my last comment as I fully detailed how to fix it. You need to declare model properties. As of today at my company this still isn't an issue as long as we keep the properties up to date

[2021-11-26 11:25] caugner opened #207 "Support Query Scope classes"
**Is your feature request related to a problem? Please describe.**

Query Scope classes can be created using `make:scope` as an alternative to creating "local" scopes inside the Model class directly. The `Scope` interface has an `apply()` method that takes two parameters, `Builder $builder` and `Model $model` and these can not be overwritten in a `Scope` implementation, as this causes Psalm to emi

[2021-12-07 16:49] giraz82 commented on #145
I still have the error appearing randomly in a new Laravel project that was working fine until today:
[code]
I'm using
[code]
But also updating psalm to `4.14.0` makes any difference.

Any idea?

[2021-12-13 14:38] yaegassy commented on #204
Hi, @tminich

There seems to be a package that supports the latest laravel-ide-helper by fork.

- <https://packagist.org/packages/brokeyourbike/plugin-laravel>

It seems to be listed in the plugins page of psalm. <https://psalm.dev/plugins>

[2021-12-13 14:42] tminich commented on #204
Thanks, I'll take a look

[2021-12-15 09:19] brendt opened #208 "`@property` seems to be ignored on model classes"
I've got this model class:

[code]

But whenever calling `->type` on a model instance, Psalm things `type` is a string or null:

[code]

[2022-01-13 01:10] maximal commented on #204
Thank you, @yaegassy! `brokeyourbike/plugin-laravel` works fine.

[2022-01-20 22:49] tjmmm commented on #26
i have the same issue.

If `TModel` has scope methods, `Eloquent\Builder<TModel>` has the same.

[code]

[2022-01-21 16:09] caugner commented on #208
Duplicate of #193.

[2022-01-21 16:12] caugner opened #216 "Support Model::select() forward call"
**Is your feature request related to a problem? Please describe.**
Psalm seems to be unable to infer the type of the following assignment:

[code]

(The correct type would be `Illuminate\Database\Eloquent\Builder<User>`.)

**Describe the solution you'd like**
Support this syntax.

**Describe alternatives you've considered**
Workaround is to call `User::query()->select('name', 'email')` directly.

[2022-01-28 20:28] tm1000 commented on #184
@mr-feek it does but the issue is that Psalm gets confused and also reads `\Illuminate\Contracts\Auth\Authenticatable|null`

[2022-02-14 06:09] Legion112 opened #218 "Run"
**Describe the bug**
A clear and concise description of what the bug is.

**Impacted Versions**
Please paste the output of `composer show | grep -E 'psalm|laravel'` so we can see what versions are impacted

**Additional context**
Add any other context about the problem here.

[2022-02-14 06:47] mr-feek commented on #218
good question! I don't think there is a way right now, but a PR would be welcome!

[2022-02-21 09:30] Legion112 opened #222 "Laravel 9 support"
**Describe the bug**
A clear and concise description of what the bug is.

**Impacted Versions**
Please paste the output of `composer show | grep -E 'psalm|laravel'` so we can see what versions are impacted

**Additional context**
Add any other context about the problem here.

[2022-02-21 09:58] mzur commented on #222
This is discussed in #213.

[2022-02-28 12:21] frostfire64 commented on #193
Is there any hope this issue can be resolved soon? Sadly, it renders psalm almost unusable for my use case (baked-in phpdoc generated from ide-helper vs generated from psalm-plugin).

[2022-03-10 20:32] tm1000 commented on #120
FYI this just happened again in a coworker's instance of Laravel. It was because he typehinted `Illuminate\Database\Eloquent\Model` on a property. In laravel 8 and lower there is a lot of usage of magic methods. This causes Psalm (utilizing this plugin) to go into a spiral trying to infer types against everything and then run out of memory.

Good news is that you can do a couple of things:

1. Use

[2022-03-15 17:29] Legion112 opened #225 "Collection template support"
**Is your feature request related to a problem? Please describe.**
The correct plugin does not generate a template for Collection<User> and all their method.
**Describe the solution you'd like**
I would like to have the ability to specify a template for my collection Colleciton<User> if I have a property with a collection of users.

**Describe alternatives you've considered**
I suspect that could

[2022-03-15 17:30] Legion112 commented on #225
https://github.com/barryvdh/laravel-ide-helper/issues/942

[2022-03-15 17:32] #225 closed

[2022-03-21 19:50] mr-feek commented on #204
Support for newer IDE helper versions has just been merged to master. Please help test! I will cut a new release next week, giving ample time for testing with newer IDE helper versions.

https://github.com/psalm/psalm-plugin-laravel/pull/226

[2022-03-21 19:50] #204 closed

[2022-05-02 17:42] #222 closed

[2022-05-02 17:42] mr-feek commented on #222
v2.0.0 now supports laravel 9

[2022-05-16 10:46] DeeRock94 opened #227 "Psalm not detecting helper methods?"
**Describe the bug**
So I've noticed when using helper methods such as
[code]

within a method that _should_ have an invalid return type, this flags as being No Errors Found ?

So for example:

[code]

My IDE flags `Return value is expected to be '\App\Models\User', '\Illuminate\Http\JsonResponse' returned ` which I'd expect, but psalm flags:
[code]

If I were to return just "hello world" without

[2022-05-16 15:53] weirdan commented on #227
What's the output of
[code]

[2022-05-16 17:49] weirdan commented on #227
Make sure you use `--show-info=true` parameter, or `@psalm-trace` output may not show up.

[2022-05-16 17:56] DeeRock94 commented on #227
So I have other errors within there which I'm aware of, however, I CMD + F'ed and searched for `App\Http\Controllers\Api\WebsiteBuilderController::test` to see if anything within this log flagged something to do with the method in question used for testing - Sadly 0 results.

A lot of the other issues I've got in this log are related to missing return types etc within Models, something I'm activel

[2022-05-17 18:22] orklah commented on #227
Adding /** @psalm-trace $j */; should make Psalm return an error called "Trace". If it's not popping up, make sure the file is actually analyzed by Psalm. Look at your config or check if it appears when running Psalm with --debug-by-line

[2022-05-17 18:50] DeeRock94 commented on #227
Ah @orklah spot on, you're right! Thanks for that, so I done this and got this response:

[code]

It would appear that $j coulld be JsonResponse|mixed which might be why technically psalm is not flagging this when something that isn't JsonResponse is returned, do you think this is the case? The response being too ambiguous?

[2022-05-17 19:01] orklah commented on #227
yeah, if the response is mixed, you'd have to be at level 1 for Psalm to show you the error (since mixed is potentially your type).

You'll have to check why mixed is returned there. Either the source is not properly documented or magic is involved somehow. I don't know laravel at all so I can't check.

[2022-05-26 04:10] weirdan commented on #227
Many of the helper methods could be typed more precisely using a conditional return type.

[2022-06-09 13:07] Legion112 commented on #218
The current problme is that it going to return 0 status code if plugging throw exception while trying to get return type.
I suggest to catch Throwable to eliminate chance of such error.

[2022-06-09 14:24] Legion112 commented on #218
https://github.com/psalm/psalm-plugin-laravel/pull/228

[2022-06-17 16:08] mr-feek commented on #184
I think I'm going to add in some dynamic analysis to stricten the return type of the `config` helper -- right now using the config helper can result in `PossiblyInvalidCast`.

We already do dynamic analysis for resolving container types -- it could also prove beneficial for resolving this issue

[2022-06-22 11:34] Legion112 commented on #218
I need it in previuse laravel version?
Could we add it to 1.6.*?

[2022-06-22 11:40] Legion112 commented on #218
https://github.com/psalm/psalm-plugin-laravel/pull/231

[2022-06-24 21:43] tm1000 commented on #184
@mr-feek sounds good to me I haven't gotten back to this because the tests are extremely complicated for this. I only learned how they worked from the work on the 9.x release so I think I can actually get back to written a test here

[2022-06-24 22:13] mr-feek commented on #184
Feel free to take a look at https://github.com/psalm/psalm-plugin-laravel/pull/229 and https://github.com/nunomaduro/larastan/blob/master/src/Concerns/LoadsAuthModel.php for inspiration!

[2022-06-29 23:03] mshamaseen opened #232 "InvalidTemplateParam on Eloquent Collection"
**Describe the bug**

InvalidTemplateParam error is returned when using Eloquent Collection methods (I've tried `find` and `unique`).

**Impacted Versions**

Latest; psalm/plugin-laravel                  v2.0.1

**Additional context**

[code]

ERROR: InvalidTemplateParam - routes/web.php:19:13 - Extended template param TModel of Illuminate\Database\Eloquent\Collection<Modules\Admin\Auth\Models\Adm

[2022-06-30 19:31] mr-feek commented on #232
I couldn't seem to reproduce this with the minimal example supplied.

Could you please paste the entire output of `impacted versions` as requested in the template?

I tested with the following deps:

[code]

[2022-06-30 20:16] mshamaseen commented on #232
@mr-feek

[code]

[2022-06-30 21:08] mshamaseen opened #233 "InvalidReturnStatement"
**Describe the bug**
psalm returns `InvalidReturnType` on:
[code]

the full error is:
[code]
**Impacted Versions**
[code]

[2022-07-11 09:44] lptn opened #234 "Support Psalm 5.0"
It’s in beta now: https://github.com/vimeo/psalm/releases/tag/5.0.0-beta1

[2022-07-26 12:40] Legion112 opened #235 "Cache stub. Remember method"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Would be nice to have a phpstorm.stub for remember method on cache.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Create a stub for \Illuminate\Contracts\Cache\Repository for remember metho

[2022-07-26 13:00] Legion112 commented on #235
Stub like that would do the deal
[code]

[2022-07-26 15:53] Legion112 opened #237 "Collection stub. Missing reduce definition"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-26 15:59] Legion112 commented on #237
Should be something like that
[code]

[2022-09-19 13:37] riaanduplessis opened #238 "Can't install v1.x on Laravel 7.x"
**Describe the bug**
The dependencies of version 1.x require either version 6 or 8 of various illuminate packages.

Since those illuminate packages are on version 7 when Laravel is also on 7, composer cannot install this package.

**Impacted Versions**

v1.x

**Additional context**

https://github.com/psalm/psalm-plugin-laravel/blob/8c46a820d4de59ae601a9fcf5534df6bb03e619a/composer.json#L16-L24

[2022-09-23 16:51] mr-feek commented on #238
support for Laravel 7 was dropped in 1.5.0 as Laravel 7 reached end of life (https://github.com/psalm/psalm-plugin-laravel/pull/185)

Use v1.4.9 of this package.

[2022-09-23 16:51] #238 closed

[2022-10-04 21:14] mr-feek commented on #235
Will be included in the next release. Thanks!

[2022-10-04 21:14] #235 closed

[2022-10-12 14:40] Legion112 opened #239 "Collection isNotNull isNull methods"
Should be something like this
[code]

Also this option have to be set to support this check https://psalm.dev/docs/running_psalm/configuration/#memoizemethodcallresults
https://psalm.dev/docs/annotating_code/adding_assertions/

Example from documentation:
<img width="798" alt="image" src="https://user-images.githubusercontent.com/20613430/195586392-b42b494a-6634-4edb-9811-920385f69afe.png">

[2022-11-01 19:26] twistor opened #240 "request() always returns an instance when called with no arguments."
**Describe the bug**
The `request()` helper function always returns an `Illuminate\Http\Request` when no arguments are provided. This includes CLI environments.

Instead, we get this:
[code]

**Impacted Versions**
[code]

[2022-11-01 19:36] twistor commented on #240
It looks like empty arguments, or `null` will work.

https://github.com/laravel/framework/blob/9.x/src/Illuminate/Foundation/helpers.php#L692

[2022-11-01 19:57] #240 closed

[2022-11-26 19:55] celorodovalho opened #241 "Support to Laravel ^9.4"
I'm using Laravel 9.41.0, when I try to install this plugin:

[code]

[2022-11-26 20:00] #241 closed

[2022-11-27 09:54] weirdan commented on #241
I wonder why we have testbench as a runtime dependency? Shouldn't it be moved to `require-dev` (if it's used at all).

[2022-11-27 10:46] canvural commented on #241
It is used when booting the application: https://github.com/psalm/psalm-plugin-laravel/blob/39e4241061bc374c3b5dcf2bd5f209e37626636d/src/Providers/ApplicationProvider.php#L60